.header {
  background-color: #f5982e;
}
.header .box1 {
  background-color: #f52e2e;
}
.header .box2 {
  background-color: #bcb90b;
}
.header .box3 {
  background-color: #951818;
}

.swiper {
  width: 600px;
  height: 400px;
}

.icon-wrapper {
  padding: 50px;
  border: 1px solid #444444;
}
