@media only screen and (max-width: 989px) {
  body {
    padding-top: 60px;
  }
}

.back-top-menu {
  position: fixed;
  top: auto;
  right: 30px;
  bottom: 30px;
  left: auto;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid #2a6bbc;
  border-radius: 50%;
  background-color: #003d87;
  color: #ffffff;
  transition: 0.3s cubic-bezier(0.53, -0.31, 0.56, 2.18);
  transform: translate3d(50px, 0, 0);
  opacity: 0;
  cursor: pointer;
}
.back-top-menu .iconfont {
  font-size: 20px;
  color: #eec88e;
}
.back-top-menu.show {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.back-top-menu:hover {
  background-color: #2a6bbc;
  border: 3px solid #003d87;
}
