// 搜索框
.search-wrapper {
  .search-open-menu {
    padding: 5px;
    font-size: 30px;
    color: $color-white;
  }
  .search-input-wrapper {
    @include media-query($small) {
      @include fixed(60px, 0, auto, 0, 999);
      padding: 20px;
      background-color: rgba($color: $color-theme, $alpha: 0.8);
      display: none;
    }
  }
}

.search-input {
  @include flex-row-sb;
  width: 320px;
  height: 41px;
  background: rgba($color: #ffffff, $alpha: 0.1);
  border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  border-radius: 20px;

  @include media-query($large) {
    width: 260px;
    height: 30px;
  }

  @include media-query($medium-down) {
    width: 220px;
    height: 38px;
  }

  @include media-query($small) {
    width: 100%;
    height: 40px;
  }

  input {
    width: calc(100% - 50px);
    height: 40px;
    outline: none;
    border: none;
    text-indent: 20px;
    background-color: transparent;
    font-size: $font-size-m;
    color: $color-white;

    &::-webkit-input-placeholder {
      /* WebKit browsers */
      color: $color-white;
      opacity: 0.5;
    }
  }

  button {
    width: 40px;
    height: 40px;
    flex: none;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @include media-query($large) {
      width: 40px;
      height: 30px;
    }

    &:active {
      span.iconfont.icon-sousuoxiao {
        opacity: 1;
        color: $color-sub-theme;
      }
    }

    &:hover {
      span.iconfont.icon-sousuoxiao {
        opacity: 1;
      }
    }

    span.iconfont.icon-sousuoxiao {
      color: $color-white;
      font-size: 24px;
      opacity: 0.5;
      transition: 0.3s ease-in-out;

      @include media-query($large) {
        font-size: 20px;
      }
    }
  }
}
