// 带图标的新闻
.icon-news {
  @include flex-row-sb;
  height: 60px;
  padding: 0 10px;
  position: relative;
  border-bottom: 1px solid $color-border;
  cursor: pointer;

  &:hover,
  &:active {
    background: linear-gradient(90deg, $color-theme, $color-theme-light);
    border-bottom: 1px solid transparent;
    box-shadow: 0px 3px 16px 0px rgba(18, 56, 118, 0.47);

    .icon,
    .title,
    .date {
      color: $color-white;
    }
  }

  .icon {
    flex: none;
    font-size: $font-size-m;
    color: $color-theme;
  }

  .title {
    @include omit;
    flex: 1;
    font-size: $font-size-m;
    color: $color-title;
    padding-left: 10px;
    padding-right: 20px;
  }

  .date {
    flex: none;
    font-size: 14px;
    color: $color-content;
  }

  .link {
    @include absolute;
  }
}

// hover后有箭头的新闻
.arrow-news {
  @include flex-row-sb;
  height: 46px;
  padding-right: 10px;
  transition: 0.3s ease-in-out;
  position: relative;
  cursor: pointer;

  &::before {
    @include absolute(17px, auto, auto, 10px);
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid $color-theme;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
    transition: 0.3s ease-in-out;
  }

  &:hover {
    padding-left: 30px;
    background-color: #e8f1ff;

    &::before {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .title {
      color: $color-theme;
    }

    span.date {
      color: $color-theme;
    }
  }

  .title {
    @include omit;
    display: block;
    padding-right: 20px;
    font-size: $font-size-m;
    color: $color-title-light;
    transition: 0.3s ease-in-out;

    &.top::before {
      content: '【置顶】';
      color: $color-red;
    }

    &.new::before {
      content: '【新】';
      color: $color-red;
    }
  }

  .date {
    font-family: 'AbhayaLibre';
    font-size: 14px;
    color: $color-content;
    flex: none;
    position: relative;
    top: 3px;
  }

  .link {
    @include absolute;
  }
}

// 日期为重点的news
.date-news {
  @include flex-row-sb;
  height: 98px;
  background: #f1f1f1;
  border: 1px solid #dddddd;
  position: relative;
  overflow: hidden;

  &::after {
    @include absolute(-16px, -10px, auto, auto, 9);
    content: '';
    display: block;
    width: 133px;
    height: 133px;
    background: url(../images/news_logo.png);
    transition: 0.3s;
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }

  &:hover,
  &:active {
    background: linear-gradient(90deg, $color-theme, $color-theme-light);
    border-bottom: 1px solid transparent;
    box-shadow: 0px 3px 16px 0px rgba(18, 56, 118, 0.47);

    &::after {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .title {
      color: $color-white;
    }

    .date {

      .day,
      .year {
        color: $color-white;
      }
    }
  }

  .date {
    padding: 0 20px;
    flex: none;
    border-right: 1px solid #c9c9c9;
    font-family: 'AbhayaLibre';

    .day {
      font-size: 24px;
      color: $color-title;
      font-weight: 800;
    }

    .year {
      font-size: 16px;
      color: $color-content;
    }
  }

  .title {
    @include omits(2);
    flex: 1;
    padding: 0 20px;
    line-height: 1.8;
    font-size: 16px;
    color: $color-title;
  }

  .link {
    @include absolute;
  }
}

// 文档下载
.docs-news {
  @include flex-row-sb;
  height: 60px;
  padding: 0 10px;
  position: relative;
  border: 1px solid $color-border;

  &:hover,
  &:active {
    background-color: #e8f1ff;
    border: 1px solid transparent;

    .date {
      background-color: $color-theme;
      color: $color-white;
    }

    .title,
    .link {
      color: $color-theme;
      text-decoration: none;
    }
  }

  .date {
    @include absolute(-13px, auto, auto, 20px);
    padding: 0 10px;
    height: 26px;
    background: #e8f1ff;
    border-radius: 13px;
    font-size: $font-size-m;
    color: $color-theme;
    text-align: center;
    line-height: 26px;
  }

  .title {
    @include omit;
    font-size: $font-size-m;
    color: $color-title;
    padding-right: 20px;
  }

  .link {
    flex: none;
    font-size: $font-size-m;
    color: $color-content;
  }
}