@mixin nav-text($bg: #268BE2, $pl: 30px) {
  display: block;
  padding: 0 20px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 46px;
  color: $color-title;
  position: relative;

  &.active {
    background-color: $bg;
  }

  &:hover {
    background-color: $bg;
    text-decoration: none;
    // color: $color-title;
  }

  @include media-query($large-down) {
    font-size: 14px;
    padding: 0 10px;
  }

  @include media-query($medium-down) {
    padding-left: $pl;
    font-size: 16px;
    line-height: 50px;
    color: $color-white;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);
  }
}

ul.nav-one {
  display: flex;
  justify-content: space-between;
  @include media-query($medium-down) {
    display: block;
    height: 100%;
    width: 320px;
    padding-top: 60px;
    background-color: $color-theme;
    overflow-y: auto;
  }

  .nav-open-icon {
    @include absolute(0, 0, auto, auto);
    width: 50px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: $color-white;
  }

  li.nav-one-item {
    position: relative;
    &:hover {
      a.nav-one-text {
        &.arrow {
          &::after {
            opacity: 1;
          }
        }
      }
    }
    a.nav-one-text {
      @include nav-text;
      &:hover,
      &.active {
        color: $color-white;
      }
      &.arrow {
        &::after {
          @include relative(0, auto, auto, 2px);
          @include iconfont("\eb6d");
          font-size: 10px;
          opacity: 0;
          @include media-query($medium-down) {
            opacity: 1;
            display: none;
          }
        }
      }
    }

    .nav-two {
      @include absolute(calc(100%), auto, auto, 0, 9999);
      background-color: #268BE2;
      display: none;

      @include media-query($medium-down) {
        @include relative;
        border-top: none;
        background-color: transparent;
      }

      .nav-two-item {
        @include media-query($medium-down) {
          position: relative;
        }

        a.nav-two-text {
          @include nav-text(#C72424, 60px);
          color: $color-white;
          &.arrow {
            &::after {
              @include relative(1px, auto, auto, auto);
              @include iconfont("\e63d");

              @include media-query($medium-down) {
                display: none;
              }
            }
          }
        }

        .nav-three {
          @include absolute(0, auto, auto, calc(100%), 9999);
          background-color: #268BE2;
          display: none;

          @include media-query($medium-down) {
            @include relative;
            background-color: transparent;
          }

          a.nav-three-text {
            @include nav-text(#C72424, 90px);
            color: $color-white;
          }
        }
      }
    }
  }
}
