@import './variables';
@import './mixin';

.banner.container {
  @include media-query($medium-down) {
    padding: 0;
    max-width: 100%;
  }
}

div.home-section-title {
  &.red {
    .main-title {
      color: #c72424;
      .iconfont {
        color: #c72424;
      }
    }
  }

  .main-title {
    font-size: 30px;
    color: $color-theme-deep;
    font-weight: 900;
    font-family: Source Han Serif SC;
    position: relative;
    display: flex;
    align-items: center;

    @include media-query($medium-down) {
      font-size: 24px;
    }

    .iconfont {
      font-size: 34px;
      margin-right: 5px;
      color: #006dcc;
    }
  }

  .link {
    width: 89px;
    height: 28px;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 14px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    &:hover {
      background-color: $color-theme;
      color: #ffffff;
    }
  }
}

// banner
.progress-bullet {
  display: inline-block;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 5px;
  background-color: $color-white;
  cursor: pointer;
}

.progress-bullet-active {
  background-color: $color-theme;
}

.progress-bullet-active .percent {
  display: block;
  width: 100%;
  height: 100%;
  animation: fill 3s 0s linear forwards;
}

@keyframes fill {
  0% {
    height: 0;
    color: #003d87;
  }

  50% {
    color: #ffffff;
  }

  100% {
    height: 100%;
    color: #ffffff;
  }
}

.swiper-progress {
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  bottom: 10px;
  z-index: 9;
}

.docs {
  .docs-item {
    margin-bottom: 30px;
  }
}

#messagePlatform {
  padding-bottom: 50px;

  @include media-query($medium-down) {
    padding-bottom: 30px;
  }
}

#messagePlatformPagination {
  bottom: 0;

  .swiper-pagination-bullet {
    background-color: $color-white;
  }
}

.message-platform {
  background: url(../images/platform_bg.png) no-repeat center center / cover;

  .message-platform-title {
    font-size: 30px;
    color: $color-white;
    font-family: 'MicrosoftYaHei-Bold';

    @include media-query($medium-down) {
      font-size: 20px;
    }
  }

  div.message-platform-card {
    @include flex-col-center;
    width: 100%;
    position: relative;

    &:hover,
    &:active {
      .cover {
        &::after {
          transform: translate3d(-50%, -50%, 0) scale(1);
          opacity: 1;
        }

        .iconfont {
          color: $color-theme;
        }
      }
    }

    div.cover {
      @include flex-row-center;
      width: 138px;
      height: 138px;
      border: 2px dashed $color-white;
      border-radius: 50%;
      position: relative;

      @include media-query($medium-down) {
        width: 100px;
        height: 100px;
      }

      &::after {
        content: '';
        display: block;
        width: 118px;
        height: 118px;
        border-radius: 50%;
        background-color: $color-white;
        @include absolute(50%, auto, auto, 50%);
        transform: translate3d(-50%, -50%, 0) scale(0);
        opacity: 0;
        transition: 0.3s ease-in-out;

        @include media-query($medium-down) {
          width: 80px;
          height: 80px;
        }
      }

      .iconfont {
        font-size: 60px;
        position: relative;
        z-index: 9;
        color: $color-white;
        transition: 0.3s;

        @include media-query($medium-down) {
          font-size: 40px;
        }
      }
    }

    h2.title {
      padding-top: 20px;
      font-size: 16px;
      color: $color-white;
      text-align: center;
      font-weight: normal;
      line-height: 1.6;

      @include media-query($medium-down) {
        font-size: 14px;
      }
    }

    a.link {
      @include absolute(0, 0, 0, 0, 11);
    }
  }
}

.swiper-pagination.news-pagination {
  width: auto;
  left: auto;
  right: 40px;
  bottom: 20px;
}

.notice-list {
  .notice-item {
    margin-bottom: 22px;
  }
}

// -------
.article-details {
  padding: 40px;

  @include media-query($small) {
    padding: 20px;
  }

  .article-title {
    font-size: 24px;
    font-family: 'MicrosoftYaHei-Bold';
    color: $color-theme;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.4;
    font-weight: 900;

    @include media-query($medium-down) {
      font-size: 20px;
    }

    @include media-query($small) {
      font-size: $font-size-l;
      margin-bottom: 20px;
    }
  }

  .article-basic-info {
    @include flex-row-center;
    padding: 10px;
    border-top: 1px solid rgba($color: #cfcfcf, $alpha: 0.5);
    border-bottom: 1px solid rgba($color: #cfcfcf, $alpha: 0.5);
    margin-bottom: 30px;

    @include media-query($small) {
      padding: 5px;
      margin-bottom: 20px;
    }

    .text {
      font-size: $font-size-b;
      color: $color-content;
      padding: 0 10px;

      @include media-query($small) {
        font-size: $font-size-s;
      }

      &.views {
        @include media-query($small) {
          display: none;
        }
      }
    }
  }

  .context {
    p {
      font-size: $font-size-m;
      line-height: 1.6;
      color: $color-content;
      letter-spacing: 1px;

      @include media-query($large) {
        font-size: $font-size-b;
      }
    }

    img {
      display: block;
      max-width: 100%;
      margin: 20px 0;
    }
  }
}

.article-prev-next {
  padding: 0 40px 40px 40px;
  .button {
    display: block;
    font-size: 15px;
    color: #454545;
    margin: 5px 0;
    transition: 0.3s ease-in-out;
    &:hover {
      color: #123875;
    }
    strong {
      color: #123875;
    }
    &.prev {
    }
    &.next {
    }
  }
}

.single-page {
  @include media-query($medium-down) {
    max-width: 100%;
    padding: 0;
  }
}

ul.inner-news-list {
  padding: 0 40px;
  @include media-query($medium-down) {
    padding: 0 10px;
  }
  li.news-item {
    div.inner-news-card {
      @include flex-row-sb;
      height: 50px;
      border-bottom: 1px solid $color-border;
      position: relative;
      &:hover {
        .title {
          color: $color-theme;
          font-weight: 600;
        }
        .date {
          color: $color-theme;
          font-weight: 600;
        }
      }

      p.title {
        @include omit;
        font-size: 15px;
        color: #333333;
        padding-left: 20px;
        position: relative;
        &::before {
          @include absolute(10px, auto, auto, 0);
          content: '';
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: $color-theme;
        }
      }

      p.date {
        padding-left: 40px;
        flex: none;
        font-size: 15px;
        color: #666666;
      }

      a.link {
        @include absolute;
      }
    }
  }
}

.science {
  padding: 50px 0;
  background: url(../images/science_bg.png) no-repeat center center / cover;
}

.expert {
  background: #cbe3ff url(../images/person.png) no-repeat right bottom;
}

// 快捷导航
.fast-nav-box {
  display: flex;
  justify-content: space-between;
}

.fast-nav {
  @include flex-row-center;
  margin: 0 auto;
  @include media-query($large-down) {
    justify-content: flex-start;
  }
  .cover {
    @include flex-row-center;
    flex: none;
    width: 80px;
    height: 80px;
    background: #ffffff;
    border: 1px solid currentColor;
    border-radius: 50%;
    @include media-query($medium-down) {
      width: 60px;
      height: 60px;
    }

    span {
      font-size: 44px;
      color: currentColor;
      @include media-query($medium-down) {
        font-size: 30px;
      }
    }
    img {
      display: block;
      width: 44px;
      @include media-query($medium-down) {
        width: 30px;
      }
    }
  }

  .title {
    padding-left: 8px;
    font-size: 18px;
    color: $color-title;
    @include media-query($medium-down) {
      font-size: 16px;
    }
  }

  &:active {
    filter: brightness(1.1);
  }

  &.color-1 {
    color: #e5332b;
  }

  &.color-2 {
    color: #003d87;
  }

  &.color-3 {
    color: #c72424;
  }

  &.color-4 {
    color: #006dcc;
  }

  &.color-5 {
    color: #583f89;
  }

  &.color-6 {
    color: #c84c30;
  }
}

.news-message {
  background: #ffffff url(../images/news_bg.png) no-repeat right top;
}

.jdzl-message {
  background: #dce9f3 url(../images/gh.png) no-repeat left center;
}
