// 带图标的新闻
.icon-news {
  @include flex-row-sb;
  height: 60px;
  padding: 0 10px;
  position: relative;
  border-bottom: 1px solid $color-border;
  cursor: pointer;

  &:hover,
  &:active {
    background: linear-gradient(90deg, $color-theme, $color-theme-light);
    border-bottom: 1px solid transparent;
    box-shadow: 0px 3px 16px 0px rgba(18, 56, 118, 0.47);

    .icon,
    .title,
    .date {
      color: $color-white;
    }
  }

  .icon {
    flex: none;
    font-size: $font-size-m;
    color: $color-theme;
  }

  .title {
    @include omit;
    flex: 1;
    font-size: $font-size-m;
    color: $color-title;
    padding-left: 10px;
    padding-right: 20px;
  }

  .date {
    flex: none;
    font-size: 14px;
    color: $color-content;
  }

  .link {
    @include absolute;
  }
}

// hover后有箭头的新闻
.arrow-news {
  @include flex-row-sb;
  height: 46px;
  padding-right: 10px;
  transition: 0.3s ease-in-out;
  position: relative;
  cursor: pointer;

  &::before {
    @include absolute(17px, auto, auto, 10px);
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid $color-theme;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
    transition: 0.3s ease-in-out;
  }

  &:hover {
    padding-left: 30px;
    background-color: #e8f1ff;

    &::before {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .title {
      color: $color-theme;
    }

    span.date {
      color: $color-theme;
    }
  }

  .title {
    @include omit;
    display: block;
    padding-right: 20px;
    font-size: $font-size-m;
    color: $color-title-light;
    transition: 0.3s ease-in-out;
  }

  .date {
    font-family: 'AbhayaLibre';
    font-size: 14px;
    color: $color-content;
    flex: none;
    position: relative;
    top: 3px;
  }

  .link {
    @include absolute;
  }
}

// 箭头竖排
.arrow-news-vertical {
  padding-top: 15px;
  padding-left: 20px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  position: relative;
  cursor: pointer;

  &::after {
    @include absolute(auto, 20px, 7px, auto, 99);
    @include iconfont;
    content: "\eb94";
    font-size: 24px;
    color: #cccccc;
    transition: .3s;
  }

  &::before {
    @include absolute(auto, 28px, 15px, auto, 98);
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    opacity: 0;
  }

  .title {
    @include omits(2);
    padding-right: 20px;
    padding-left: 0;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 600;
    color: #111111;
    line-height: 28px;

    &.top::before {
      content: '【置顶】';
      color: $color-red;
    }

    &.new::before {
      content: '【新】';
      color: $color-red;
    }
  }

  .date {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    font-family: Abel;
    font-weight: 400;
    color: #9b9b9b;
    padding: 15px 20px;
    padding-left: 0;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    transition: .3s;
  }

  &:hover {
    border: 1px solid $color-theme;

    &::after {
      transform: rotate(180deg);
      color: #ffffff;
    }

    &::before {
      opacity: 1;
    }

    .title {
      color: $color-theme;
    }
    .date {
      color: $color-white;
      border-top: 1px solid $color-theme;
      background: linear-gradient(-90deg, #003D87, #387ACA);
      padding-left: 20px;
      border-top: none;
    }
  }

  a.link {
    @include absolute;
  }
}

// 日期为重点的news
.date-news {
  @include flex-row-sb;
  height: 98px;
  background: #f1f1f1;
  border: 1px solid #dddddd;
  position: relative;
  overflow: hidden;

  &.simple {
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #dddddd;
    .date {
      text-align: right;
    }

    &:hover {
      background: #ffffff;
      box-shadow: none;
      border-bottom: 1px solid #dddddd;

      .date {
        border-right: 1px solid $color-theme;
        .day,
        .year {
          color: $color-theme;
        }
      }

      .title {
        color: $color-theme;
      }
    }
  }

  &::after {
    @include absolute(-16px, -10px, auto, auto, 9);
    content: '';
    display: block;
    width: 133px;
    height: 133px;
    background: url(../images/news_logo.png);
    transition: 0.3s;
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }

  &:hover,
  &:active {
    background: linear-gradient(90deg, $color-theme, $color-theme-light);
    border-bottom: 1px solid transparent;
    box-shadow: 0px 3px 16px 0px rgba(18, 56, 118, 0.47);

    &::after {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .title {
      color: $color-white;
    }

    .date {
      .day,
      .year {
        color: $color-white;
      }
    }
  }

  .date {
    padding: 0 20px;
    flex: none;
    border-right: 1px solid #c9c9c9;
    font-family: 'AbhayaLibre';

    .day {
      font-size: 24px;
      color: $color-title;
      font-weight: 800;
    }

    .year {
      font-size: 16px;
      color: $color-content;
    }
  }

  .title {
    @include omits(2);
    flex: 1;
    padding: 0 20px;
    line-height: 1.8;
    font-size: 16px;
    color: $color-title;
  }

  .link {
    @include absolute;
  }
}

// 文档下载
.docs-news {
  @include flex-row-sb;
  height: 60px;
  padding: 0 10px;
  position: relative;
  border: 1px solid $color-border;

  &:hover,
  &:active {
    background-color: #e8f1ff;
    border: 1px solid transparent;

    .date {
      background-color: $color-theme;
      color: $color-white;
    }

    .title,
    .link {
      color: $color-theme;
      text-decoration: none;
    }
  }

  .date {
    @include absolute(-13px, auto, auto, 20px);
    padding: 0 10px;
    height: 26px;
    background: #e8f1ff;
    border-radius: 13px;
    font-size: $font-size-m;
    color: $color-theme;
    text-align: center;
    line-height: 26px;
  }

  .title {
    @include omit;
    font-size: $font-size-m;
    color: $color-title;
    padding-right: 20px;
  }

  .link {
    flex: none;
    font-size: $font-size-m;
    color: $color-content;
  }
}

// 带图片和标题的新闻
.image-title-news {
  width: 100%;
  border: 1px solid #e4e4e4;
  padding-bottom: 50px;
  position: relative;

  &:hover {
    .cover {
      .img {
        transform: scale(1.05);
      }
    }

    .title {
      color: $color-theme;

      // &::after {
      //   width: 100%;
      // }
    }
  }

  .cover {
    width: 100%;
    height: 331px;
    background-color: #f2f2f2;
    overflow: hidden;
    position: relative;

    .img {
      @include absolute;
      transition: 0.3s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }

  .title {
    @include omits(2);
    padding: 20px 20px 0 20px;
    line-height: 1.8;
    font-size: 18px;
    color: $color-title;
    // border-bottom: 1px solid $color-border;
    position: relative;

    &::after {
      @include absolute(auto, 0, 0, 0);
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background-color: $color-theme;
      transition: 0.3s;
    }
  }

  .date {
    @include absolute(24px, auto, auto, 0);
    padding: 10px 20px;
    background-color: $color-theme;
    color: $color-white;
    font-size: 16px;
  }

  .link {
    @include absolute;
  }
}

// 完整的横向图片新闻
.image-complete-news {
  display: flex;
  overflow: hidden;
  padding-bottom: 30px;
  border-bottom: 1px solid #dddddd;

  &:hover {
    .cover {
      .img {
        transform: scale(1.05);
      }
    }

    .info {
      color: $color-theme;
      .info__top {
        .title {
          color: currentColor;
        }
      }

      .info__medium {
        .desc {
          color: currentColor;
        }
      }
    }
  }

  .cover {
    flex: 1;
    height: 160px;
    position: relative;
    overflow: hidden;
    .img {
      @include absolute;
      transition: 0.3s ease-in-out;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .info {
    padding-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $color-content;
    
    .info__top {
      .title {
        @include omits(2);
        font-weight: 600;
        font-size: 16px;
        color: $color-title;
        line-height: 1.8;
      }
    }

    .info__medium {
      .desc {
        @include omits(2);
        font-size: 14px;
        color: $color-content;
        line-height: 1.8;
      }
    }

    .info__bottom {
      @include flex-row-sb;
      .date {
        font-size: 14px;
      }

      .check {
        font-size: 14px;
      }
    }
  }

  .link {
    @include absolute;
  }
}
