.web-header {
  position: relative;
  z-index: 9;
  background-color: rgba($color: #131313, $alpha: 1);
  color: $color-title;

  .tip-img {
    display: block;
    width: 100%;
    line-height: 1;
  }

  .header-container {
    @include flex-row-sb;
    height: 100px;
    width: 83%;
    margin: 0 auto;
    position: relative;
    transition: 0.3s;

    @include media-query($sm) {
      @include flex-row-center;
      width: 100%;
      height: 50px;
    }

    .web-logo {
      @include flex-col-center;
      height: 100%;

      img {
        height: 40px;
        transition: 0.3s;

        @include media-query($sm) {
          height: 20px;
        }
      }
    }

    .mobile-blank {
      display: none;

      @include media-query($sm) {
        @include pos-fixed(0, 0, auto, auto, 99998);
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #111111, $alpha: .8)
      }
    }

    .web-nav {
      height: 50px;
      position: relative;
      padding-right: 120px;

      @include media-query($sm) {
        @include pos-fixed(0, 0, auto, auto, 99999);
        height: 100vh;
        background-color: #333333;
        padding-right: 0;
        transition: .3s ease-in-out;
        transform: translate3d(100%, 0, 0);

        &.active {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }
      }

      .nav-list {
        @include flex-row-sb;
        height: 100%;
        margin: 0;

        @include media-query($sm) {
          display: block;
        }

        .nav-item {
          height: 100%;
          margin: 0 20px;
          display: flex;
          align-content: center;

          @include media-query($sm) {
            height: auto;
          }

          &.active {
            a {
              color: $color-theme;
            }
          }

          a {
            font-size: $font-size-m;
            color: $color-white;
            text-decoration: none;
            line-height: 50px;
            transition: .3s;

            &:hover {
              color: $color-theme;
            }
          }
        }
      }

      .line {
        height: 4px;
        background-color: $color-theme;
        position: absolute;
        bottom: 0;
        z-index: 9;

        @include media-query($sm) {
          display: none;
        }
      }
    }

    .web-nav-switch {
      display: none;

      @include media-query($sm) {
        @include pos-absolute(14px, 4px, auto, auto, 999);
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          display: block;
          width: 22px;
          height: 3px;
          background-color: currentColor;
          margin: 2px 15px;
          transition: 0.3s;
        }

        &.active {
          span {
            &:nth-child(1) {
              width: 26px;
              transform: translate3d(0, 8px, 0) rotate(45deg);
            }

            &:nth-child(2) {
              display: none;
            }

            &:nth-child(3) {
              width: 26px;
              transform: translate3d(0, 1px, 0) rotate(-45deg);
            }
          }
        }
      }
    }
  }
}
