@media (min-width: 1200px) {
  .web-header {
    position: relative;
    color: #ffffff;
    transition: 0.3s;
    &.fixed {
      @include pos-fixed(0, 0, auto, 0, 888);
    }
    &.active {
      background-color: rgba($color: #111111, $alpha: 1);
      color: #333;
      box-shadow: 0 5px 40px -2px rgba(7, 0, 2, 0.15);
      .header-container {
        bottom: 0;
        .web-logo {
          img {
            height: 50px;
            bottom: 0;
          }
        }
        .web-nav {
          .line {
            visibility: visible;
          }
        }
      }
    }
    .header-container {
      height: 100px;
      width: 83%;
      margin: 0 auto;
      position: relative;
      bottom: -50px;
      transition: 0.3s;
      @include flex-row-sb;
      .web-logo {
        display: flex;
        height: 100%;
        align-items: center;
        img {
          height: 50px;
          transition: 0.3s;
        }
      }

      .web-nav {
        height: 50px;
        position: relative;
        padding-right: 120px;
        .nav-list {
          height: 100%;
          @include flex-row-sb;
          margin: 0;
          .nav-item {
            height: 100%;
            margin: 0 20px;
            display: flex;
            align-content: center;
            &.active {
              a {
                color: $color-theme;
              }
            }
            a {
              font-size: $font-size-m;
              color: $color-white;
              text-decoration: none;
              line-height: 50px;
              &:hover {
                color: $color-theme;
              }
            }
          }
        }
        .line {
          height: 4px;
          background-color: $color-theme;
          position: absolute;
          bottom: 0;
          z-index: 9;
          visibility: hidden;
        }
      }
      .web-nav-switch {
        display: none;
      }
    }
  }
}

@media (max-width: 1200px) {
  .web-header {
    position: relative;
    color: #ffffff;
    &.fixed {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 999999;
    }
    &.active {
      background-color: #fff;
      color: #333;
    }
    .header-container {
      height: 50px;
      padding: 0 10px;
      position: relative;
      .web-logo {
        display: flex;
        height: 100%;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate3d(-50%, 0, 0);
        img {
          height: 30px;
        }
      }
      .mobile-blank {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 9990;
        background-color: rgba($color: #000000, $alpha: 0.2);
        display: none;
      }
      .web-nav {
        position: fixed;
        left: 40%;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 9999;
        background-color: #003586;
        transition: 0.5s;
        transform: translate3d(100%, 0, 0);
        opacity: 0;
        &.active {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }
        .nav-list {
          .nav-item {
            margin: 0 20px;
            display: flex;
            align-content: center;

            &.active {
              a {
                color: $color-theme;
              }
            }
            a {
              width: 100%;
              display: block;
              border-bottom: 1px rgba(8, 32, 56, 0.3) solid;
              line-height: 44px;
              font-size: 14px;
              color: currentColor;
              text-decoration: none;
              color: #fff;
              position: relative;
              &::after {
                content: '\e905';
                font-family: 'icomoon';
                line-height: 1;
                position: absolute;
                right: 10px;
                top: 14px;
              }
              &:hover {
                color: $color-theme;
              }
            }
          }
        }
        .line {
          display: none;
        }
      }
      .web-nav-switch {
        position: fixed;
        right: 0px;
        top: 14px;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          display: block;
          width: 22px;
          height: 3px;
          background-color: currentColor;
          margin: 2px 15px;
          transition: 0.3s;
        }
        &.active {
          span {
            &:nth-child(1) {
              width: 26px;
              transform: translate3d(0, 8px, 0) rotate(45deg);
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              width: 26px;
              transform: translate3d(0, 1px, 0) rotate(-45deg);
            }
          }
        }
      }
    }
  }
}
