@import './variables';
@import './mixin';

body {
  @include media-query($medium-down) {
    padding-top: 60px;
  }
}

.container {
  max-width: 1600px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5%;
  margin: 0 auto;
  @include media-query($medium-down) {
    padding: 0 20px;
  }
}

.section {
  padding: 50px 0;
}

div.plate-top {
  @include flex-row-sb;
  div.plate-title {
    flex-grow: 1;
    position: relative;
    padding: 15px 0;
    font-size: 26px;
    color: $color-title;
    background-repeat: no-repeat;
    background-position: left top;
    @include media-query($medium-down) {
      padding: 5px 0;
      background-size: auto 20px;
      font-size: 20px;
    }
    &.bg0 {
      background-image: url(../images/title_bg0.png);
    }
    &.bg1 {
      background-image: url(../images/title_bg1.png);
    }
    &.bg2 {
      background-image: url(../images/title_bg2.png);
    }
    &.bg3 {
      background-image: url(../images/title_bg3.png);
    }
    &.bg4 {
      background-image: url(../images/title_bg4.png);
    }
    span.iconfont {
      font-size: 26px;
      color: $color-theme;
      @include media-query($medium-down) {
        font-size: 20px;
      }
    }

    strong {
      font-weight: 900;
      color: $color-theme;
    }
  }

  a.more-link {
    padding: 5px 10px;
    border-radius: 2px;
    font-size: $font-size-m;
    color: $color-theme;
    transition: 0.3s ease-in-out;
    @include media-query($medium-down) {
      font-size: $font-size-b;
    }
    &:hover {
      background-color: $color-theme;
      color: $color-white;
    }
  }
}

div.custom-selector {
  width: 256px;
  height: 41px;
  box-sizing: border-box;
  background: #1a5093;
  border: 1px solid #2a6bbc;
  border-radius: 20px;
  position: relative;
  color: $color-theme;
  &::after {
    @include pos-absolute(18px, 12px, auto, auto);
    content: '';
    display: block;
    width: 0;
    height: 0;
    width: 0;
    height: 0;
    border-top: 8px solid rgba($color: $color-white, $alpha: 0.2);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  .placeholder {
    width: 100%;
    height: 40px;
    text-indent: 20px;
    line-height: 40px;
    font-size: $font-size-b;
    color: $color-white;
    opacity: 0.6;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  .options {
    @include pos-absolute(auto, 0, 50px, 0, 999);
    display: none;
    padding: 10px;
    border-radius: 4px;
    background-color: $color-white;
    border: 1px solid $color-theme;
    a {
      display: block;
      font-size: $font-size-b;
      color: $color-title-light;
      line-height: 2;
      text-indent: 10px;
      transition: 0.1s ease-in-out;
      &:hover {
        background-color: $color-theme;
        color: $color-white;
      }
    }
  }
}
