.web-header {
  background-color: #fdecd9;
}

.web-nav {
  background-color: #cccccc;
}

.nav-wrapper {
  @include media-query($medium-down) {
    flex: 1;
    box-sizing: border-box;
    background-color: $color-theme;
    padding: 20px 0;
    overflow-y: auto;
  }

  ul.nav-one.container {
    @include flex-row-sb;
    margin-bottom: 0;

    @include media-query($medium-down) {
      display: block
    }

    .nav-open-icon {
      display: none;

      @include media-query($medium-down) {
        @include absolute(0, 0, auto, auto);
        display: block;
        width: 50px;
        height: 40px;
        box-sizing: border-box;
        border: 4px solid $color-theme;
        border-radius: 10px;
        background-color: $color-theme-deep;
        line-height: 32px;
        text-align: center;
        font-size: 16px;
        color: $color-white;
        text-indent: 0;
      }

    }

    li.nav-one-item {
      position: relative;

      a.nav-one-text {
        @include nav-text;

        @include media-query($medium-down) {

          &.arrow {
            &::after {
              display: none;
            }
          }
        }

        &.arrow {
          &::after {
            font-family: "iconfont";
            content: "\eb6d";
            position: relative;
            top: 0px;
            left: 2px;
            font-size: 10px;
          }
        }

      }

      .nav-two {
        padding: 10px 0;
        border-radius: 4px;
        position: absolute;
        left: 0;
        z-index: 9999;
        background-color: #f3f3f3;
        top: calc(100%);
        display: none;
        border-top: 1px solid #ffffff;

        @include media-query($medium-down) {
          padding: 0 0;
          border-top: none;
          background-color: $color-theme;
          position: relative;
          top: auto;
          left: auto;
          text-indent: 40px;
        }

        .nav-two-item {
          @include media-query($medium-down) {
            position: relative;
          }

          a.nav-two-text {
            @include nav-text($color-sub-theme);

            @include media-query($medium-down) {

              &.arrow {
                &::after {
                  display: none;
                }
              }
            }

            &.arrow {
              &::after {
                font-family: "iconfont";
                content: "\e63d";
                position: relative;
                top: 1px;
              }
            }
          }

          .nav-three {
            padding: 10px 0;
            border-radius: 4px;
            display: block;
            position: absolute;
            top: 0;
            left: calc(100%);
            border-left: 1px solid #ffffff;
            background-color: #f3f3f3;
            display: none;

            @include media-query($medium-down) {
              padding: 0 0;
              border-left: none;
              background-color: $color-theme;
              position: relative;
              top: auto;
              left: auto;
              text-indent: 80px;
            }

            a.nav-three-text {
              @include nav-text($color-sub-theme);
            }
          }
        }
      }
    }
  }
}
