header {
  section.top-bar {
    background-color: $color-theme;

    div.top-wrapper.container {
      @include flex-row-sb;
      height: 125px;

      @include media-query($large) {
        height: 90px;
      }

      @include media-query($medium-down) {
        @include pos-fixed(0, 0, auto, 0, 999);
        height: 60px;
        padding: 0 10px;
        background-color: $color-theme;
      }

      a.logo {
        @include flex-row-center;
        column-gap: 10px;

        @include media-query($large) {
          img {
            &:nth-child(1) {
              width: 45px;
            }

            &:nth-child(2) {
              width: 332px;
            }
          }
        }

        @include media-query($medium-down) {
          img {
            &:nth-child(1) {
              width: 45px;
            }

            &:nth-child(2) {
              display: none;
            }
          }
        }
      }

      div.top-right-wrapper {
        div.sm-buttons {
          display: flex;
          align-items: center;
          justify-content: end;
          padding-bottom: 20px;
          column-gap: 20px;

          @include media-query($large) {
            padding-bottom: 10px;
          }

          @include media-query($medium-down) {
            display: none;
          }

          p.icon {
            @include flex-row-center;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            position: relative;

            &:hover {
              span.iconfont {
                opacity: 1;
              }

              span.text {
                color: $color-white;
                opacity: 1;
              }

              span.wx-image {
                display: block;
              }
            }

            span.iconfont {
              color: $color-white;
              font-size: $font-size-l;
              margin-right: 5px;
              opacity: 0.5;
            }

            span.text {
              font-size: $font-size-l;
              color: $color-white;
              opacity: 0.5;

              @include media-query($large) {
                font-size: $font-size-b;
              }
            }

            span.wx-image {
              display: none;
              @include pos-absolute(40px, auto, auto, 0, 999);
              padding: 10px;
              background-color: $color-white;
              transition: 0.3s ease-in-out;

              img {
                display: block;
                width: 140px;
                height: 140px;
              }
            }
          }

          span.divider {
            height: 16px;
            width: 1px;
            border-right: 1px solid #809ec3;
          }
        }

        div.search-input-wrapper {
          div.search-input {
            @include flex-row-sb;
            width: 320px;
            height: 41px;
            background: #1a5093;
            border: 1px solid #2a6bbc;
            border-radius: 20px;

            @include media-query($large) {
              width: 260px;
              height: 30px;
            }

            @include media-query($medium-down) {
              width: 220px;
              height: 38px;
            }

            input {
              width: 250px;
              height: 40px;
              outline: none;
              border: none;
              text-indent: 20px;
              background-color: transparent;
              font-size: $font-size-m;
              color: $color-white;

              @include media-query($large) {
                width: 200px;
                height: 30px;
              }

              @include media-query($medium-down) {
                width: 170px;
                height: 38px;
              }

              &::-webkit-input-placeholder {
                /* WebKit browsers */
                color: $color-white;
                opacity: 0.5;
              }
            }

            button {
              width: 40px;
              height: 40px;
              flex: none;
              border-radius: 50%;
              background-color: transparent;
              border: none;
              cursor: pointer;

              @include media-query($large) {
                width: 40px;
                height: 30px;
              }

              &:active {
                span.iconfont.icon-sousuoxiao {
                  opacity: 1;
                  color: $color-sub-theme;
                }
              }

              &:hover {
                span.iconfont.icon-sousuoxiao {
                  opacity: 1;
                }
              }

              span.iconfont.icon-sousuoxiao {
                color: $color-white;
                font-size: 24px;
                opacity: 0.5;
                transition: 0.3s ease-in-out;

                @include media-query($large) {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }

      .media-nav-menu {
        display: none;

        @include media-query($medium-down) {
          @include flex-row-center;
          width: 40px;
          height: 40px;

          .iconfont {
            font-size: 30px;
            color: $color-white;
          }
        }
      }
    }
  }

  .mobile-wx-image {
    display: none;

    @include media-query($medium-down) {
      @include flex-row-center;
      @include pos-fixed(0, 0, 0, 0, 88889);
      background-color: rgba($color: #000000, $alpha: 0.6);
      transform: translate3d(0, -100%, 0);

      &.active {
        transform: translate3d(0, 0, 0);
      }

      img {
        width: 160px;
        height: 160px;
      }
    }
  }
}


section.main-nav {
  background-color: $color-sub-theme;
  display: block;
  position: relative;

  @include media-query($medium-down) {
    @include pos-fixed(0, 0, 0, 0, 8888);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: $color-theme;
    transition: .3s;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    &.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .moblie-nav-top {
    display: none;
    flex: none;

    @include media-query($medium-down) {
      display: block;
      height: 50px;
      box-shadow: 0 0 4px $color-theme-deep;
      z-index: 9;

      div.sm-buttons {
        height: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        column-gap: 20px;

        p.icon {
          @include flex-row-center;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          position: relative;

          span.iconfont {
            color: $color-white;
            font-size: $font-size-m;
            margin-right: 5px;
            opacity: 0.8;
          }

          span.text {
            color: $color-white;
            font-size: $font-size-b;
            opacity: 0.8;
          }
        }

        span.divider {
          height: 16px;
          width: 1px;
          border-right: 1px solid $color-white;
        }
      }

      .close {
        @include flex-row-center;
        @include pos-absolute(0, 0, auto, auto);
        width: 50px;
        height: 50px;
        font-size: 30px;
        font-weight: 900;
        color: $color-white;
      }
    }
  }

  .nav-wrapper {
    @include media-query($medium-down) {
      flex: 1;
      box-sizing: border-box;
      background-color: $color-theme;
      padding: 20px 0;
      overflow-y: auto;
    }
  }

  ul.nav-one.container {
    @include flex-row-sb;

    @include media-query($medium-down) {
      display: block
    }

    .nav-open-icon {
      display: none;

      @include media-query($medium-down) {
        @include pos-absolute(0, 0, auto, auto);
        display: block;
        width: 50px;
        height: 40px;
        box-sizing: border-box;
        border: 4px solid $color-theme;
        border-radius: 10px;
        background-color: $color-theme-deep;
        line-height: 32px;
        text-align: center;
        font-size: 16px;
        color: $color-white;
        text-indent: 0;
      }

    }

    li.nav-one-item {
      position: relative;

      a.nav-one-text {
        @include nav-text;

        @include media-query($medium-down) {

          &.arrow {
            &::after {
              display: none;
            }
          }
        }

        &.arrow {
          &::after {
            font-family: "iconfont";
            content: "\eb6d";
            position: relative;
            top: 0px;
            left: 2px;
            font-size: 10px;
          }
        }

      }

      .nav-two {
        padding: 10px 0;
        border-radius: 4px;
        position: absolute;
        left: 0;
        z-index: 9999;
        background-color: #f3f3f3;
        top: calc(100%);
        display: none;
        border-top: 1px solid #ffffff;

        @include media-query($medium-down) {
          padding: 0 0;
          border-top: none;
          background-color: $color-theme;
          position: relative;
          top: auto;
          left: auto;
          text-indent: 40px;
        }

        .nav-two-item {
          @include media-query($medium-down) {
            position: relative;
          }

          a.nav-two-text {
            @include nav-text($color-sub-theme);

            @include media-query($medium-down) {

              &.arrow {
                &::after {
                  display: none;
                }
              }
            }

            &.arrow {
              &::after {
                font-family: "iconfont";
                content: "\e63d";
                position: relative;
                top: 1px;
              }
            }
          }

          .nav-three {
            padding: 10px 0;
            border-radius: 4px;
            display: block;
            position: absolute;
            top: 0;
            left: calc(100%);
            border-left: 1px solid #ffffff;
            background-color: #f3f3f3;
            display: none;

            @include media-query($medium-down) {
              padding: 0 0;
              border-left: none;
              background-color: $color-theme;
              position: relative;
              top: auto;
              left: auto;
              text-indent: 80px;
            }

            a.nav-three-text {
              @include nav-text($color-sub-theme);
            }
          }
        }
      }
    }
  }

}
