@charset "UTF-8";
html,
body {
  overflow-x: hidden;
  font-weight: 400;
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', '微软雅黑', Arial, sans-serif, 'Microsoft YaHei';
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

body {
  line-height: 1.2;
}

:focus {
  outline: 1;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #111;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #111;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #111;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

img[src=''],
img:not([src]) {
  opacity: 0;
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

@media (min-width: 1200px) {
  .web-header {
    position: relative;
    color: #ffffff;
    transition: 0.3s;
  }
  .web-header.fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 888;
  }
  .web-header.active {
    background-color: #111111;
    color: #333;
    box-shadow: 0 5px 40px -2px rgba(7, 0, 2, 0.15);
  }
  .web-header.active .header-container {
    bottom: 0;
  }
  .web-header.active .header-container .web-logo img {
    height: 50px;
    bottom: 0;
  }
  .web-header.active .header-container .web-nav .line {
    visibility: visible;
  }
  .web-header .header-container {
    height: 100px;
    width: 83%;
    margin: 0 auto;
    position: relative;
    bottom: -50px;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .web-header .header-container .web-logo {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .web-header .header-container .web-logo img {
    height: 50px;
    transition: 0.3s;
  }
  .web-header .header-container .web-nav {
    height: 50px;
    position: relative;
    padding-right: 120px;
  }
  .web-header .header-container .web-nav .nav-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .web-header .header-container .web-nav .nav-list .nav-item {
    height: 100%;
    margin: 0 20px;
    display: flex;
    align-content: center;
  }
  .web-header .header-container .web-nav .nav-list .nav-item.active a {
    color: #f9902b;
  }
  .web-header .header-container .web-nav .nav-list .nav-item a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
  }
  .web-header .header-container .web-nav .nav-list .nav-item a:hover {
    color: #f9902b;
  }
  .web-header .header-container .web-nav .line {
    height: 4px;
    background-color: #f9902b;
    position: absolute;
    bottom: 0;
    z-index: 9;
    visibility: hidden;
  }
  .web-header .header-container .web-nav-switch {
    display: none;
  }
}
@media (max-width: 1200px) {
  .web-header {
    position: relative;
    color: #ffffff;
  }
  .web-header.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999999;
  }
  .web-header.active {
    background-color: #fff;
    color: #333;
  }
  .web-header .header-container {
    height: 50px;
    padding: 0 10px;
    position: relative;
  }
  .web-header .header-container .web-logo {
    display: flex;
    height: 100%;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, 0, 0);
  }
  .web-header .header-container .web-logo img {
    height: 30px;
  }
  .web-header .header-container .mobile-blank {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9990;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
  }
  .web-header .header-container .web-nav {
    position: fixed;
    left: 40%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #003586;
    transition: 0.5s;
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  .web-header .header-container .web-nav.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  .web-header .header-container .web-nav .nav-list .nav-item {
    margin: 0 20px;
    display: flex;
    align-content: center;
  }
  .web-header .header-container .web-nav .nav-list .nav-item.active a {
    color: #f9902b;
  }
  .web-header .header-container .web-nav .nav-list .nav-item a {
    width: 100%;
    display: block;
    border-bottom: 1px rgba(8, 32, 56, 0.3) solid;
    line-height: 44px;
    font-size: 14px;
    color: currentColor;
    text-decoration: none;
    color: #fff;
    position: relative;
  }
  .web-header .header-container .web-nav .nav-list .nav-item a::after {
    content: '\e905';
    font-family: 'icomoon';
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 14px;
  }
  .web-header .header-container .web-nav .nav-list .nav-item a:hover {
    color: #f9902b;
  }
  .web-header .header-container .web-nav .line {
    display: none;
  }
  .web-header .header-container .web-nav-switch {
    position: fixed;
    right: 0px;
    top: 14px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .web-header .header-container .web-nav-switch span {
    display: block;
    width: 22px;
    height: 3px;
    background-color: currentColor;
    margin: 2px 15px;
    transition: 0.3s;
  }
  .web-header .header-container .web-nav-switch.active span:nth-child(1) {
    width: 26px;
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  .web-header .header-container .web-nav-switch.active span:nth-child(2) {
    display: none;
  }
  .web-header .header-container .web-nav-switch.active span:nth-child(3) {
    width: 26px;
    transform: translate3d(0, 1px, 0) rotate(-45deg);
  }
}
.case-show {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
.case-show .case-show__container {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100%;
  z-index: 2;
}
.case-show .case-show__container .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 9999;
  height: 100%;
  opacity: 1;
}
.case-show .case-show__container .footer-content .footer-title {
  font-size: 60px;
  top: 33.333px;
  color: #ffffff;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 5px;
}
.case-show .case-show__container .footer-content .footer-title strong {
  color: #f9902b;
}
.case-show .case-show__container .footer-content .footer-info {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.case-show .case-show__container::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
}
.case-show canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.inner-page-footer {
  background-color: #111111;
}

.footer-info .partner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.footer-info .partner p {
  font-size: 16px;
  color: #ffffff;
  margin: 0 20px 0 0;
}
.footer-info .partner span {
  display: block;
  width: 1px;
  height: 14px;
  border-left: 1px solid #bebebe;
  margin: 0 10px;
}
.footer-info .partner a {
  font-size: 14px;
  color: #bebebe;
  transition: 0.3s;
}
.footer-info .partner a:hover {
  color: #f9902b;
}
.footer-info .copyright {
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-info .copyright .text {
  text-align: center;
  margin: 0;
  font-size: 14px;
  color: #bebebe;
}

.web-section {
  position: relative;
  z-index: 3;
  background-color: #ffffff;
  overflow: hidden;
}

.container {
  max-width: 1240px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 20px;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
}

.swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 10px;
  background-color: #ffffff;
}

.main-title {
  position: relative;
  height: 122px;
}
.main-title > .title {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 45px;
  z-index: 0;
  transform: translate3d(0, -60%, 0);
  width: 159px;
}
.main-title > .bg {
  display: block;
  height: 100%;
}

.sub-title {
  font-size: 14px;
  color: #666666;
  padding-left: 45px;
  max-width: 200px;
  line-height: 1.8;
  margin-top: 20px;
  position: relative;
}
.sub-title::before {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: #f9902b;
  margin-bottom: 10px;
}
.sub-title.vertical {
  color: #ffffff;
}
.sub-title.vertical::before {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: 0;
  left: 30px;
  z-index: 0;
  transform: translate3d(0, -50%, 0);
  content: '';
  flex: none;
  display: block;
  height: 40px;
  width: 3px;
  background-color: #f9902b;
  margin-right: 10px;
}

.more-button {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  display: block;
  font-size: 20px;
  color: #666666;
  font-family: 'Montserrat';
  transition: 0.3s;
}
.more-button.long {
  padding: 10px 40px;
}
.more-button:hover {
  border: 1px solid #f9902b;
  color: #f9902b;
}
.more-button:hover .icon {
  color: #f9902b;
  transform: translate3d(-20px, 0, 0);
}
.more-button strong {
  font-size: 40px;
  margin-right: -4px;
  color: currentColor;
}
.more-button .icon {
  display: block;
  text-align: right;
  font-size: 30px;
  color: #cccccc;
  transition: 0.3s;
}

.source-card {
  position: relative;
  overflow: hidden;
  transition: all;
}
.source-card:hover .link {
  opacity: 1;
}
.source-card:hover img {
  transform: scale(1.1);
}
.source-card:hover .info {
  color: #f9902b;
}
.source-card img {
  display: block;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.source-card .info {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  padding: 10px 8%;
  color: #ffffff;
}
.source-card .info .title {
  font-size: 16px;
  line-height: 2;
  transition: 0.3s ease-in-out;
}
.source-card .info .desc {
  opacity: 0.6;
  font-size: 14px;
  line-height: 1.6;
  transition: 0.3s ease-in-out;
}
.source-card .link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.source-card .link .iconfont {
  font-size: 70px;
  color: #ffffff;
}

.source-card--inner {
  position: relative;
  transition: all;
}
.source-card--inner:hover .link {
  opacity: 1;
}
.source-card--inner:hover .cover img {
  transform: scale(1.1);
}
.source-card--inner:hover .bottom-title {
  color: #f9902b;
}
.source-card--inner .cover {
  overflow: hidden;
  position: relative;
}
.source-card--inner .cover img {
  display: block;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.source-card--inner .bottom-title {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333333;
  opacity: 0.8;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.source-card--inner .link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 40px;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.source-card--inner .link .iconfont {
  font-size: 70px;
  color: #ffffff;
}

.jpsd {
  padding-top: 50px;
  padding-bottom: 100px;
}
.jpsd .jpsd-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.jpsd .jpsd-list {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}
.jpsd .jpsd-list .item {
  width: 33.33%;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
.jpsd .jpsd-list .item:nth-child(5), .jpsd .jpsd-list .item:nth-child(2) {
  top: -130px;
}

.gcjc {
  height: 550px;
  background: url(../images/gcjc-content-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: visible;
  z-index: 11;
}
.gcjc::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  content: '';
}
.gcjc .container {
  position: relative;
  z-index: 2;
}
.gcjc .gcjc-title {
  padding-top: 30px;
  display: flex;
  align-items: center;
}
.gcjc .gcjc-list {
  padding-top: 40px;
  position: relative;
}
.gcjc .gcjc-list .item {
  position: absolute;
  z-index: 12;
}
.gcjc .gcjc-list .item:nth-child(1) {
  width: 800px;
}
.gcjc .gcjc-list .item:nth-child(2) {
  width: 250px;
  right: 0;
  top: -30px;
}
.gcjc .gcjc-list .item:nth-child(3) {
  width: 340px;
  right: 0;
  top: 220px;
}

.jdyy {
  padding-top: 300px;
  height: 800px;
}
.jdyy .gcjc-list {
  padding-top: 40px;
  position: relative;
}
.jdyy .gcjc-list .item {
  position: absolute;
  z-index: 12;
}
.jdyy .gcjc-list .item:nth-child(1) {
  width: 360px;
}
.jdyy .gcjc-list .item:nth-child(2) {
  width: 230px;
  left: 415px;
  top: -160px;
}
.jdyy .gcjc-list .item:nth-child(3) {
  width: 230px;
  left: 415px;
  top: 200px;
}
.jdyy .gcjc-list .item:nth-child(4) {
  width: 500px;
  right: 0;
  top: -200px;
}

.inner-page {
  padding-top: 200px;
  padding-bottom: 50px;
}
.inner-page .inner-page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner-page .inner-page-title .title {
  display: block;
  width: 159px;
}
.inner-page .inner-page-title .inner-sub-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-size: 14px;
}
.inner-page .inner-page-title .inner-sub-title::after {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  background: #f9902b;
  border-radius: 2px;
  margin-top: 20px;
}
.inner-page .inner-page-list {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}
.inner-page .inner-page-list .item {
  width: 25%;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
.inner-page .inner-page-bottom {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-details {
  box-sizing: border-box;
  padding-top: 150px;
  padding-bottom: 50px;
  min-height: calc(100vh - 117px);
}
.movie-details .movie-title {
  font-size: 30px;
  color: #333333;
  line-height: 1.6;
  text-align: center;
  padding-bottom: 20px;
}
.movie-details .movie-desc {
  font-size: 16px;
  color: #666666;
  line-height: 1.6;
}
.movie-details .movie-video {
  padding-top: 50px;
}
.movie-details .movie-video .video-js {
  width: 100%;
  height: 700px;
}
.movie-details .prev-next-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.movie-details .prev-next-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  font-size: 16px;
  color: #666666;
  font-family: 'Montserrat';
  transition: 0.3s;
}
.movie-details .prev-next-wrapper a:hover {
  border: 1px solid #f9902b;
  color: #f9902b;
}
.movie-details .prev-next-wrapper a:hover .icon {
  color: #f9902b;
  transform: translate3d(-10px, 0, 0);
}
.movie-details .prev-next-wrapper a:nth-child(2):hover .icon {
  color: #f9902b;
  transform: translate3d(10px, 0, 0);
}
.movie-details .prev-next-wrapper a .icon {
  display: block;
  text-align: right;
  font-size: 30px;
  color: #cccccc;
  transition: 0.3s;
}
