@import './variables';
@import './mixin';

body {
  @include media-query($medium-down) {
    padding-top: 60px;
  }
}

// 返回按钮
.back-top-menu {
  @include pos-fixed(auto, 30px, 30px, auto, 9999);
  @include flex-row-center;
  width: 40px;
  height: 40px;
  border: 3px solid $color-theme-light;
  border-radius: 50%;
  background-color: $color-theme;
  color: $color-white;
  transition: 0.3s cubic-bezier(0.53, -0.31, 0.56, 2.18);
  transform: translate3d(50px, 0, 0);
  opacity: 0;
  cursor: pointer;

  .iconfont {
    font-size: 20px;
    color: $color-sub-theme;
  }

  &.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  &:hover {
    background-color: $color-theme-light;
    border: 3px solid $color-theme;
  }
}
