.header {
  background-color: hsl(32, 91%, 57%);

  .box1 {
    background-color: hsl(0, 91%, 57%);
  }

  .box2 {
    background-color: hsl(59, 89%, 39%);
  }

  .box3 {
    background-color: hsl(0, 72%, 34%);
  }
}