.source-card {
  position: relative;
  transition: all;

  &:hover,
  &.out-info:hover {
    .link {
      opacity: 1;
    }

    .cover {
      img {
        transform: scale(1.1);
      }
    }

    .info {
      color: $color-theme;
    }
  }

  .cover {
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      transition: 0.3s ease-in-out;
    }
  }
  &.out-info {
    .info {
      padding: 0;
      position: relative;
      color: $color-title;
      .title {
        height: 40px;
        line-height: 40px;
        text-align: center;
      }
    }
    .link {
       @include pos-absolute(0, 0, 40px, 0, 3);
    }
  }
  .info {
    @include pos-absolute(auto, 0, 0, 0);
    padding: 10px 8%;
    color: $color-white;

    .title {
      @include omit;
      font-size: $font-size-m;
      color: currentColor;
      line-height: 2;
      transition: 0.3s ease-in-out;
      @include media-query($sm) {
        font-size: $font-size-b;
      }
    }

    .desc {
      opacity: 0.6;
      font-size: $font-size-b;
      color: currentColor;
      line-height: 1.6;
      transition: 0.3s ease-in-out;
      @include media-query($sm) {
        font-size: $font-size-s;
      }
    }
  }

  .link {
    @include pos-absolute(0, 0, 0, 0, 3);
    @include flex-row-center;
    background-color: rgba($color: #000000, $alpha: 0.4);
    transition: 0.3s ease-in-out;
    opacity: 0;

    .iconfont {
      font-size: 70px;
      color: $color-white;
    }
  }
}
