.case-show {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 1;

  .case-show__container {
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100%;
    z-index: 2;

    .footer-content {
      @include flex-row-center;
      position: relative;
      z-index: 9999;
      height: 100%;
      opacity: 1;
      .footer-title {
        font-size: 60px;
        top: 33.333px;
        color: $color-white;
        text-align: center;
        line-height: 1.6;
        letter-spacing: 5px;
        @include media-query($sm) {
          font-size: $font-size-l;
        }
        strong {
          color: $color-theme;
        }
      }
      .footer-info {
        @include absolute(auto, 0, 0, 0);
      }
    }

    &::after {
      @include absolute;
      // @include glass(#000000, 0.1);
      display: block;
      content: '';
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  canvas {
    @include absolute;
  }
}

.inner-page-footer {
  background-color: #131313;
}

.footer-info {
  .partner {
    @include flex-row-center;
    padding: 20px;
    @include media-query($sm) {
      padding: 20px 0;
    }
    p {
      font-size: $font-size-m;
      color: $color-white;
      margin: 0 20px 0 0;
      @include media-query($sm) {
        margin: 0 10px 0 0;
        font-size: $font-size-s;
      }
    }
    span {
      display: block;
      width: 1px;
      height: 14px;
      border-left: 1px solid #bebebe;
      margin: 0 10px;
      @include media-query($sm) {
        margin: 0 5px;
      }
    }
    a {
      font-size: $font-size-b;
      color: #bebebe;
      transition: 0.3s;
      @include media-query($sm) {
        font-size: $font-size-s;
      }
      &:hover {
        color: $color-theme;
      }
    }
  }
  .copyright {
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    .text {
      text-align: center;
      margin: 0;
      font-size: $font-size-b;
      color: #bebebe;
      @include media-query($sm) {
        font-size: $font-size-s;
      }
    }
  }
}
