@charset "UTF-8";
@media only screen and (max-width: 991px) {
  body {
    padding-top: 60px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

h1, h2, h3 {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

.back-top-menu {
  position: fixed;
  top: auto;
  right: 30px;
  bottom: 30px;
  left: auto;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid #2348a9;
  border-radius: 50%;
  background-color: #193373;
  color: #ffffff;
  transition: 0.3s cubic-bezier(0.53, -0.31, 0.56, 2.18);
  transform: translate3d(50px, 0, 0);
  opacity: 0;
  cursor: pointer;
}
.back-top-menu .iconfont {
  font-size: 20px;
  color: #eec88e;
}
.back-top-menu.show {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.back-top-menu:hover {
  background-color: #2348a9;
  border: 3px solid #193373;
}

.inner-side-page {
  display: flex;
  overflow: hidden;
  padding-bottom: 50px;
  padding-top: 46px;
}
@media only screen and (max-width: 767px) {
  .inner-side-page {
    padding-bottom: 20px;
  }
}
.inner-side-page .inner-nav {
  flex: none;
}
@media only screen and (max-width: 991px) {
  .inner-side-page .inner-nav {
    display: none;
  }
}
.inner-side-page .inner-content-wrapper {
  flex: 1;
  box-sizing: border-box;
  margin-left: 38px;
  overflow: hidden;
  background-color: #F2F2F2;
  border: 1px solid #E0E0E0;
}
@media only screen and (max-width: 991px) {
  .inner-side-page .inner-content-wrapper {
    margin-left: 0;
  }
}

.side-bar {
  flex: none;
  width: 300px;
  background-color: #F2F2F2;
  position: relative;
  overflow: hidden;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  .side-bar {
    width: 240px;
  }
}
.side-bar::after {
  position: absolute;
  top: -100px;
  right: -80px;
  bottom: auto;
  left: auto;
  z-index: 9;
  content: "";
  display: block;
  width: 185px;
  height: 172px;
  background: url(../images/nav_logo.png);
}
.side-bar::before {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: -80px;
  z-index: 99;
  content: "";
  display: block;
  width: 185px;
  height: 172px;
  background: url(../images/nav_logo.png);
}
.side-bar img {
  display: block;
  width: 100%;
  border-left: 5px solid #B7B7B7;
}
.side-bar h2.side-bar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  position: relative;
  margin-bottom: 0;
  background-color: #123875;
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  .side-bar h2.side-bar-title {
    font-size: 20px;
  }
}
.side-bar ul.second-nav {
  border-left: 5px solid #B7B7B7;
}
.side-bar ul.second-nav li.second-nav-item {
  border-bottom: 1px solid #E0E0E0;
}
.side-bar ul.second-nav li.second-nav-item.active p.second-nav-item-text {
  background-color: #E5F0FF;
  color: #123875;
}
.side-bar ul.second-nav li.second-nav-item p.second-nav-item-text {
  height: 72px;
  background-color: #F2F2F2;
  line-height: 72px;
  font-size: 18px;
  color: #111111;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  .side-bar ul.second-nav li.second-nav-item p.second-nav-item-text {
    font-size: 16px;
  }
}
.side-bar ul.second-nav li.second-nav-item p.second-nav-item-text::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url(../images/icon_round.png);
  margin-right: 10px;
}
.side-bar ul.second-nav li.second-nav-item nav.third-nav {
  background-color: #ffffff;
  padding: 10px 0 10px 47px;
  margin-top: 1px;
  display: none;
  border-left: 5px solid #123875;
  margin-left: -5px;
}
.side-bar ul.second-nav li.second-nav-item nav.third-nav a.third-nav-text {
  padding: 6px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333333;
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  .side-bar ul.second-nav li.second-nav-item nav.third-nav a.third-nav-text {
    font-size: 14px;
  }
}
.side-bar ul.second-nav li.second-nav-item nav.third-nav a.third-nav-text:hover, .side-bar ul.second-nav li.second-nav-item nav.third-nav a.third-nav-text.active {
  color: #193373;
  text-decoration: none;
}
.side-bar ul.second-nav li.second-nav-item nav.third-nav a.third-nav-text:hover::before, .side-bar ul.second-nav li.second-nav-item nav.third-nav a.third-nav-text.active::before {
  opacity: 1;
}
.side-bar ul.second-nav li.second-nav-item nav.third-nav a.third-nav-text::before {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  background: url(../images/icon_arrow.png);
  margin-right: 10px;
  opacity: 0;
  transition: .3s ease-in-out;
}

div.custom-breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 2px solid #193373;
}
@media only screen and (max-width: 767px) {
  div.custom-breadcrumb {
    padding: 10px 0;
  }
}
div.custom-breadcrumb h2.title {
  font-size: 24px;
  color: #193373;
}
@media only screen and (max-width: 767px) {
  div.custom-breadcrumb h2.title {
    display: none;
  }
}
div.custom-breadcrumb div.breadcrumb-navs {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  div.custom-breadcrumb div.breadcrumb-navs {
    padding-left: 20px;
  }
}
div.custom-breadcrumb div.breadcrumb-navs p.pos {
  font-size: 14px;
  color: #888888;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
div.custom-breadcrumb div.breadcrumb-navs p.pos::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background: url(../images/icon_home.png);
  margin-right: 6px;
}
div.custom-breadcrumb div.breadcrumb-navs nav {
  display: flex;
  align-items: center;
}
div.custom-breadcrumb div.breadcrumb-navs nav a {
  font-size: 14px;
  color: #888888;
  transition: .3s;
}
div.custom-breadcrumb div.breadcrumb-navs nav a::before {
  font-family: "iconfont";
  content: "\e63d";
  margin-right: 8px;
  margin-left: 5px;
}
@media only screen and (max-width: 767px) {
  div.custom-breadcrumb div.breadcrumb-navs nav a::before {
    margin-right: 5px;
    font-size: 14px;
  }
}
div.custom-breadcrumb div.breadcrumb-navs nav a:first-child::before {
  display: none;
}
div.custom-breadcrumb div.breadcrumb-navs nav a:hover {
  color: #193373;
}
div.custom-breadcrumb div.breadcrumb-navs nav a:hover::before {
  color: #888888;
}

ul.nav-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  ul.nav-one {
    display: block;
    height: 100%;
    width: 300px;
    padding-top: 60px;
    background-color: #193373;
    overflow-y: auto;
  }
}
ul.nav-one .nav-open-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 0;
  width: 50px;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}
ul.nav-one li.nav-one-item {
  position: relative;
}
ul.nav-one li.nav-one-item a.nav-one-text {
  display: block;
  padding: 0 20px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  position: relative;
}
ul.nav-one li.nav-one-item a.nav-one-text.active {
  background-color: #1750ab;
}
ul.nav-one li.nav-one-item a.nav-one-text:hover {
  background-color: #1750ab;
  text-decoration: none;
}
@media only screen and (max-width: 1299px) {
  ul.nav-one li.nav-one-item a.nav-one-text {
    font-size: 14px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 991px) {
  ul.nav-one li.nav-one-item a.nav-one-text {
    padding-left: 30px;
    font-size: 16px;
    line-height: 50px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
ul.nav-one li.nav-one-item a.nav-one-text.arrow::after {
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: 2px;
  z-index: 0;
  content: "";
  font-family: 'iconfont';
  font-size: 10px;
}
@media only screen and (max-width: 991px) {
  ul.nav-one li.nav-one-item a.nav-one-text.arrow::after {
    display: none;
  }
}
ul.nav-one li.nav-one-item .nav-two {
  position: absolute;
  top: calc(100%);
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 9999;
  background-color: #1750ab;
  display: none;
}
@media only screen and (max-width: 991px) {
  ul.nav-one li.nav-one-item .nav-two {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 0;
    border-top: none;
    background-color: transparent;
  }
}
@media only screen and (max-width: 991px) {
  ul.nav-one li.nav-one-item .nav-two .nav-two-item {
    position: relative;
  }
}
ul.nav-one li.nav-one-item .nav-two .nav-two-item a.nav-two-text {
  display: block;
  padding: 0 20px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  position: relative;
}
ul.nav-one li.nav-one-item .nav-two .nav-two-item a.nav-two-text.active {
  background-color: #193373;
}
ul.nav-one li.nav-one-item .nav-two .nav-two-item a.nav-two-text:hover {
  background-color: #193373;
  text-decoration: none;
}
@media only screen and (max-width: 1299px) {
  ul.nav-one li.nav-one-item .nav-two .nav-two-item a.nav-two-text {
    font-size: 14px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 991px) {
  ul.nav-one li.nav-one-item .nav-two .nav-two-item a.nav-two-text {
    padding-left: 60px;
    font-size: 16px;
    line-height: 50px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
ul.nav-one li.nav-one-item .nav-two .nav-two-item a.nav-two-text.arrow::after {
  position: relative;
  top: 1px;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 0;
  content: "";
  font-family: 'iconfont';
}
@media only screen and (max-width: 991px) {
  ul.nav-one li.nav-one-item .nav-two .nav-two-item a.nav-two-text.arrow::after {
    display: none;
  }
}
ul.nav-one li.nav-one-item .nav-two .nav-two-item .nav-three {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: calc(100%);
  z-index: 9999;
  background-color: #1750ab;
  display: none;
}
@media only screen and (max-width: 991px) {
  ul.nav-one li.nav-one-item .nav-two .nav-two-item .nav-three {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 0;
    background-color: transparent;
  }
}
ul.nav-one li.nav-one-item .nav-two .nav-two-item .nav-three a.nav-three-text {
  display: block;
  padding: 0 20px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  position: relative;
}
ul.nav-one li.nav-one-item .nav-two .nav-two-item .nav-three a.nav-three-text.active {
  background-color: #193373;
}
ul.nav-one li.nav-one-item .nav-two .nav-two-item .nav-three a.nav-three-text:hover {
  background-color: #193373;
  text-decoration: none;
}
@media only screen and (max-width: 1299px) {
  ul.nav-one li.nav-one-item .nav-two .nav-two-item .nav-three a.nav-three-text {
    font-size: 14px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 991px) {
  ul.nav-one li.nav-one-item .nav-two .nav-two-item .nav-three a.nav-three-text {
    padding-left: 90px;
    font-size: 16px;
    line-height: 50px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.icon-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
}
.icon-news:hover, .icon-news:active {
  background: linear-gradient(90deg, #193373, #2348a9);
  border-bottom: 1px solid transparent;
  box-shadow: 0px 3px 16px 0px rgba(18, 56, 118, 0.47);
}
.icon-news:hover .icon,
.icon-news:hover .title,
.icon-news:hover .date, .icon-news:active .icon,
.icon-news:active .title,
.icon-news:active .date {
  color: #ffffff;
}
.icon-news .icon {
  flex: none;
  font-size: 16px;
  color: #193373;
}
.icon-news .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  font-size: 16px;
  color: #111111;
  padding-left: 10px;
  padding-right: 20px;
}
.icon-news .date {
  flex: none;
  font-size: 14px;
  color: #666666;
}
.icon-news .link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.arrow-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  padding-right: 10px;
  transition: 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}
.arrow-news::before {
  position: absolute;
  top: 17px;
  right: auto;
  bottom: auto;
  left: 10px;
  z-index: 0;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid #193373;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  opacity: 0;
  transform: translate3d(-20px, 0, 0);
  transition: 0.3s ease-in-out;
}
.arrow-news:hover {
  padding-left: 30px;
  background-color: #e8f1ff;
}
.arrow-news:hover::before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.arrow-news:hover .title {
  color: #193373;
}
.arrow-news:hover span.date {
  color: #193373;
}
.arrow-news .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding-right: 20px;
  font-size: 16px;
  color: #333333;
  transition: 0.3s ease-in-out;
}
.arrow-news .title.top::before {
  content: '【置顶】';
  color: #ed2c25;
}
.arrow-news .date {
  font-family: 'AbhayaLibre';
  font-size: 14px;
  color: #666666;
  flex: none;
  position: relative;
  top: 3px;
}
.arrow-news .link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.date-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98px;
  background: #f1f1f1;
  border: 1px solid #dddddd;
  position: relative;
  overflow: hidden;
}
.date-news::after {
  position: absolute;
  top: -16px;
  right: -10px;
  bottom: auto;
  left: auto;
  z-index: 9;
  content: '';
  display: block;
  width: 133px;
  height: 133px;
  background: url(../images/news_logo.png);
  transition: 0.3s;
  opacity: 0;
  transform: translate3d(20px, 0, 0);
}
.date-news:hover, .date-news:active {
  background: linear-gradient(90deg, #193373, #2348a9);
  border-bottom: 1px solid transparent;
  box-shadow: 0px 3px 16px 0px rgba(18, 56, 118, 0.47);
}
.date-news:hover::after, .date-news:active::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.date-news:hover .title, .date-news:active .title {
  color: #ffffff;
}
.date-news:hover .date .day,
.date-news:hover .date .year, .date-news:active .date .day,
.date-news:active .date .year {
  color: #ffffff;
}
.date-news .date {
  padding: 0 20px;
  flex: none;
  border-right: 1px solid #c9c9c9;
  font-family: 'AbhayaLibre';
}
.date-news .date .day {
  font-size: 24px;
  color: #111111;
  font-weight: 800;
}
.date-news .date .year {
  font-size: 16px;
  color: #666666;
}
.date-news .title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  flex: 1;
  padding: 0 20px;
  line-height: 1.8;
  font-size: 16px;
  color: #111111;
}
.date-news .link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.docs-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  position: relative;
  border: 1px solid #e6e6e6;
}
.docs-news:hover, .docs-news:active {
  background-color: #e8f1ff;
  border: 1px solid transparent;
}
.docs-news:hover .date, .docs-news:active .date {
  background-color: #193373;
  color: #ffffff;
}
.docs-news:hover .title,
.docs-news:hover .link, .docs-news:active .title,
.docs-news:active .link {
  color: #193373;
  text-decoration: none;
}
.docs-news .date {
  position: absolute;
  top: -13px;
  right: auto;
  bottom: auto;
  left: 20px;
  z-index: 0;
  padding: 0 10px;
  height: 26px;
  background: #e8f1ff;
  border-radius: 13px;
  font-size: 16px;
  color: #193373;
  text-align: center;
  line-height: 26px;
}
.docs-news .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  color: #111111;
  padding-right: 20px;
}
.docs-news .link {
  flex: none;
  font-size: 16px;
  color: #666666;
}

.web-header {
  padding: 10px 0;
  background-color: #193373;
}
@media only screen and (max-width: 991px) {
  .web-header {
    padding: 0;
  }
}
@media only screen and (max-width: 991px) {
  .web-header .header--top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 999;
    height: 60px;
    padding: 0 10px;
    background-color: #193373;
  }
}
.web-header .header--top .mobile-nav-open-menu .iconfont {
  padding: 5px;
  font-size: 30px;
  color: #ffffff;
}
.web-header .header--top .header-logo {
  position: relative;
}
@media only screen and (max-width: 1299px) {
  .web-header .header--top .header-logo img {
    width: 298px;
  }
}
@media only screen and (max-width: 991px) {
  .web-header .header--top .header-logo {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .web-header .header--top .header-logo img {
    width: 228px;
  }
}
.web-header .header--top .search-wrapper .search-open-menu {
  padding: 5px;
  font-size: 30px;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .web-header .header--top .search-wrapper .search-input-wrapper {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 999;
    padding: 20px;
    background-color: rgba(25, 51, 115, 0.8);
    display: none;
  }
}
.web-header .header--bottom {
  position: relative;
}
@media only screen and (max-width: 991px) {
  .web-header .header--bottom {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s ease-in-out;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  .web-header .header--bottom.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.web-header .header--bottom .mobile-nav-close {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 99999;
  width: 300px;
  height: 60px;
  background-color: #193373;
}
.web-header .header--bottom .mobile-nav-close .iconfont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  color: #ffffff;
}

footer.web-footer {
  background: url(../images/footer_bg.png) no-repeat center center/cover;
}
footer.web-footer div.footer--top {
  background-color: rgba(23, 80, 171, 0.7);
}
footer.web-footer div.footer--top div.container div.f-links p.title {
  font-size: 16px;
  color: #ffffff;
  padding-right: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  footer.web-footer div.footer--top div.container div.f-links p.title {
    font-size: 14px;
  }
}
footer.web-footer div.footer--top div.container div.f-links ul.links.d-flex li.link-item {
  padding: 0 20px;
  position: relative;
}
footer.web-footer div.footer--top div.container div.f-links ul.links.d-flex li.link-item::before {
  content: '';
  display: block;
  height: 13px;
  width: 1px;
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
footer.web-footer div.footer--top div.container div.f-links ul.links.d-flex li.link-item:last-child::before {
  display: none;
}
footer.web-footer div.footer--top div.container div.f-links ul.links.d-flex li.link-item a.link {
  font-size: 16px;
  color: #ffffff;
  transition: 0.3s;
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  footer.web-footer div.footer--top div.container div.f-links ul.links.d-flex li.link-item a.link {
    font-size: 14px;
  }
}
footer.web-footer div.footer--top div.container div.f-links ul.links.d-flex li.link-item a.link:hover {
  text-decoration: none;
  color: #eec88e;
}
footer.web-footer div.footer--bottom div.container.text-center div.d-flex.justify-content-center.flex-wrap p.px-2 {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.8;
}

div.pb_sys_common.pb_sys_normal.pb_sys_style1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_first_d.p_fun_d {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f5;
  color: #606266;
  transition: 0.3s;
  cursor: pointer;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_first_d.p_fun_d:hover {
  color: #193373;
}
@media only screen and (max-width: 767px) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_first_d.p_fun_d {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_prev_d.p_fun_d {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f5;
  color: #606266;
  transition: 0.3s;
  cursor: pointer;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_prev_d.p_fun_d:hover {
  color: #193373;
}
@media only screen and (max-width: 767px) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_prev_d.p_fun_d {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_no_d {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  color: #111111;
  transition: 0.3s;
  background-color: #193373;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_no_d {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_no {
    display: none;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_no a {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f5;
  color: #606266;
  transition: 0.3s;
  cursor: pointer;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_no a:hover {
  color: #193373;
}
@media only screen and (max-width: 767px) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_no a {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_dot {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f5;
  color: #606266;
  transition: 0.3s;
  cursor: pointer;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_dot:hover {
  color: #193373;
}
@media only screen and (max-width: 767px) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_dot {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_dot {
    display: none;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_next.p_fun a {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f5;
  color: #606266;
  transition: 0.3s;
  cursor: pointer;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_next.p_fun a:hover {
  color: #193373;
}
@media only screen and (max-width: 767px) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_next.p_fun a {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_last.p_fun a {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f5;
  color: #606266;
  transition: 0.3s;
  cursor: pointer;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_last.p_fun a:hover {
  color: #193373;
}
@media only screen and (max-width: 767px) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_last.p_fun a {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_t {
  font-size: 12px;
  color: #666666;
  line-height: 26px;
  padding: 0 10px;
}
@media only screen and (max-width: 767px) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_t {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_goto {
    display: none;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_goto input#u6_goto.p_goto_input {
  width: 40px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  text-align: center;
  font-size: 12px;
  color: #666666;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_goto a {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  color: #111111;
  transition: 0.3s;
  background-color: #193373;
  color: #ffffff;
}

div.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 41px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  div.search-input {
    width: 260px;
    height: 30px;
  }
}
@media only screen and (max-width: 991px) {
  div.search-input {
    width: 220px;
    height: 38px;
  }
}
@media only screen and (max-width: 767px) {
  div.search-input {
    width: 100%;
    height: 40px;
  }
}
div.search-input input {
  width: calc(100% - 50px);
  height: 40px;
  outline: none;
  border: none;
  text-indent: 20px;
  background-color: transparent;
  font-size: 16px;
  color: #ffffff;
}
div.search-input input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
  opacity: 0.5;
}
div.search-input button {
  width: 40px;
  height: 40px;
  flex: none;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  div.search-input button {
    width: 40px;
    height: 30px;
  }
}
div.search-input button:active span.iconfont.icon-sousuoxiao {
  opacity: 1;
  color: #eec88e;
}
div.search-input button:hover span.iconfont.icon-sousuoxiao {
  opacity: 1;
}
div.search-input button span.iconfont.icon-sousuoxiao {
  color: #ffffff;
  font-size: 24px;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  div.search-input button span.iconfont.icon-sousuoxiao {
    font-size: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .banner.container {
    padding: 0;
    max-width: 100%;
  }
}

div.home-section-title h2.main-title {
  font-size: 30px;
  color: #193373;
  font-weight: 900;
  font-family: 'MicrosoftYaHei-Bold';
  position: relative;
}
@media only screen and (max-width: 991px) {
  div.home-section-title h2.main-title {
    font-size: 24px;
  }
}
div.home-section-title h2.main-title::after {
  content: '';
  display: block;
  height: 14px;
  background: #193373;
  opacity: 0.18;
  border-radius: 7px;
  position: absolute;
  top: 23px;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 0;
}
@media only screen and (max-width: 991px) {
  div.home-section-title h2.main-title::after {
    height: 10px;
    top: 20px;
  }
}
div.home-section-title a.link {
  display: block;
  width: 70px;
  height: 24px;
  border: 1px solid #193373;
  border-radius: 12px;
  font-size: 14px;
  font-family: Arial;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  color: #193373;
  text-transform: uppercase;
  position: relative;
  top: -5px;
  transition: 0.3s;
}
div.home-section-title a.link:hover {
  text-decoration: none;
  background-color: #193373;
  color: #ffffff;
}

.progress-bullet {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 5px;
  background-color: transparent;
  cursor: pointer;
}

.progress-bullet .percent {
  display: block;
  width: 100%;
  height: 0;
  background-color: #003d87;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  color: #003d87;
}

.progress-bullet-active {
  border: 1px solid #003d87;
}

.progress-bullet-active .percent {
  display: block;
  width: 100%;
  height: 100%;
  animation: fill 3s 0s linear forwards;
}

@keyframes fill {
  0% {
    height: 0;
    color: #003d87;
  }
  50% {
    color: #ffffff;
  }
  100% {
    height: 100%;
    color: #ffffff;
  }
}
.swiper-progress {
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  bottom: 10px;
  z-index: 9;
}

.docs .docs-item {
  margin-bottom: 30px;
}

#messagePlatform {
  padding-bottom: 50px;
}
@media only screen and (max-width: 991px) {
  #messagePlatform {
    padding-bottom: 30px;
  }
}

#messagePlatformPagination {
  bottom: 0;
}
#messagePlatformPagination .swiper-pagination-bullet {
  background-color: #ffffff;
}

.message-platform {
  background: url(../images/platform_bg.png) no-repeat center center/cover;
}
.message-platform .message-platform-title {
  font-size: 30px;
  color: #ffffff;
  font-family: 'MicrosoftYaHei-Bold';
}
@media only screen and (max-width: 991px) {
  .message-platform .message-platform-title {
    font-size: 20px;
  }
}
.message-platform div.message-platform-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.message-platform div.message-platform-card:hover .cover::after, .message-platform div.message-platform-card:active .cover::after {
  transform: translate3d(-50%, -50%, 0) scale(1);
  opacity: 1;
}
.message-platform div.message-platform-card:hover .cover .iconfont, .message-platform div.message-platform-card:active .cover .iconfont {
  color: #193373;
}
.message-platform div.message-platform-card div.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 138px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .message-platform div.message-platform-card div.cover {
    width: 100px;
    height: 100px;
  }
}
.message-platform div.message-platform-card div.cover::after {
  content: '';
  display: block;
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 0;
  transform: translate3d(-50%, -50%, 0) scale(0);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 991px) {
  .message-platform div.message-platform-card div.cover::after {
    width: 80px;
    height: 80px;
  }
}
.message-platform div.message-platform-card div.cover .iconfont {
  font-size: 60px;
  position: relative;
  z-index: 9;
  color: #ffffff;
  transition: 0.3s;
}
@media only screen and (max-width: 991px) {
  .message-platform div.message-platform-card div.cover .iconfont {
    font-size: 40px;
  }
}
.message-platform div.message-platform-card h2.title {
  padding-top: 20px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  line-height: 1.6;
}
@media only screen and (max-width: 991px) {
  .message-platform div.message-platform-card h2.title {
    font-size: 14px;
  }
}
.message-platform div.message-platform-card a.link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
}

.image-work-card {
  width: 100%;
  position: relative;
}
.image-work-card:hover .cover .img {
  transform: scale(1.05);
}
.image-work-card:hover .title {
  color: #193373;
}
.image-work-card:hover .title::after {
  width: 100%;
}
.image-work-card .cover {
  width: 100%;
  height: 0;
  background-color: #f2f2f2;
  padding-bottom: 60%;
  overflow: hidden;
  position: relative;
}
.image-work-card .cover .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.image-work-card .cover .img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.image-work-card .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  color: #111111;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.image-work-card .title::after {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: #193373;
  transition: 0.3s;
}
.image-work-card .date {
  position: absolute;
  top: 24px;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 0;
  padding: 10px 20px;
  background-color: #193373;
  color: #ffffff;
  font-size: 16px;
}
.image-work-card .link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.notice-list .notice-item {
  margin-bottom: 22px;
}

.article-details {
  padding: 40px;
}
@media only screen and (max-width: 767px) {
  .article-details {
    padding: 20px;
  }
}
.article-details .article-title {
  font-size: 24px;
  font-family: "MicrosoftYaHei-Bold";
  color: #193373;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.4;
}
@media only screen and (max-width: 991px) {
  .article-details .article-title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .article-details .article-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.article-details .article-basic-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(207, 207, 207, 0.3);
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .article-details .article-basic-info {
    padding: 5px;
    margin-bottom: 20px;
  }
}
.article-details .article-basic-info .text {
  font-size: 14px;
  color: #666666;
  padding: 0 10px;
}
@media only screen and (max-width: 767px) {
  .article-details .article-basic-info .text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .article-details .article-basic-info .text.views {
    display: none;
  }
}
.article-details .context p {
  font-size: 16px;
  line-height: 1.6;
  color: #666666;
  letter-spacing: 1px;
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  .article-details .context p {
    font-size: 14px;
  }
}
.article-details .context img {
  display: block;
  max-width: 100%;
  margin: 20px 0;
}
