ul.nav-one {
  @include flex-row-sb;

  @include media-query($medium-down) {
    display: block
  }

  .nav-open-icon {
    display: none;

    @include media-query($medium-down) {
      @include pos-absolute(0, 0, auto, auto);
      display: block;
      width: 50px;
      height: 40px;
      box-sizing: border-box;
      border: 4px solid $color-theme;
      border-radius: 10px;
      background-color: $color-theme-deep;
      line-height: 32px;
      text-align: center;
      font-size: 16px;
      color: $color-white;
      text-indent: 0;
    }

  }

  li.nav-one-item {
    position: relative;

    a.nav-one-text {
      @include nav-text;

      @include media-query($medium-down) {

        &.arrow {
          &::after {
            display: none;
          }
        }
      }

      &.arrow {
        &::after {
          font-family: "iconfont";
          content: "\eb6d";
          position: relative;
          top: 0px;
          left: 2px;
          font-size: 10px;
        }
      }

    }

    .nav-two {
      padding: 0 0;
      border-radius: 0;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 9999;
      background-color: #1750AB;
      top: calc(100%);
      display: none;

      @include media-query($medium-down) {
        padding: 0 0;
        border-top: none;
        background-color: $color-theme;
        position: relative;
        top: auto;
        left: auto;
        text-indent: 40px;
      }

      .nav-two-item {
        @include media-query($medium-down) {
          position: relative;
        }

        a.nav-two-text {
          @include nav-text($color-theme);

          @include media-query($medium-down) {

            &.arrow {
              &::after {
                display: none;
              }
            }
          }

          &.arrow {
            &::after {
              font-family: "iconfont";
              content: "\e63d";
              position: relative;
              top: 1px;
            }
          }
        }

        .nav-three {
          padding: 10px 0;
          border-radius: 4px;
          display: block;
          position: absolute;
          top: 0;
          left: calc(100%);
          border-left: 1px solid #ffffff;
          background-color: #f3f3f3;
          display: none;

          @include media-query($medium-down) {
            padding: 0 0;
            border-left: none;
            background-color: $color-theme;
            position: relative;
            top: auto;
            left: auto;
            text-indent: 80px;
          }

          a.nav-three-text {
            @include nav-text($color-sub-theme);
          }
        }
      }
    }
  }
}
