@mixin nav-text($bg: #1750ab, $pl: 30px) {
  display: block;
  padding: 0 20px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 40px;
  color: $color-white;
  position: relative;

  &.active {
    background-color: $bg;
  }

  &:hover {
    background-color: $bg;
    text-decoration: none;
  }

  @include media-query($large-down) {
    font-size: 14px;
    padding: 0 10px;
  }

  @include media-query($medium-down) {
    padding-left: $pl;
    font-size: 16px;
    line-height: 50px;
    color: $color-white;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);
  }
}

ul.nav-one {
  @include flex-row-sb;

  @include media-query($medium-down) {
    display: block;
    height: 100%;
    width: 300px;
    padding-top: 60px;
    background-color: $color-theme;
    overflow-y: auto;
  }

  .nav-open-icon {
    @include absolute(0, 0, auto, auto);
    width: 50px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: $color-white;
  }

  li.nav-one-item {
    position: relative;

    a.nav-one-text {
      @include nav-text;

      &.arrow {
        &::after {
          @include relative(0, auto, auto, 2px);
          @include iconfont('\eb6d');
          font-size: 10px;

          @include media-query($medium-down) {
            display: none;
          }
        }
      }
    }

    .nav-two {
      @include absolute(calc(100%), 0, auto, 0, 9999);
      background-color: #1750ab;
      display: none;

      @include media-query($medium-down) {
        @include relative;
        border-top: none;
        background-color: transparent;
      }

      .nav-two-item {
        @include media-query($medium-down) {
          position: relative;
        }

        a.nav-two-text {
          @include nav-text($color-theme, 60px);

          &.arrow {
            &::after {
              @include relative(1px, auto, auto, auto);
              @include iconfont('\e63d');

              @include media-query($medium-down) {
                display: none;
              }
            }
          }
        }

        .nav-three {
          @include absolute(0, auto, auto, calc(100%), 9999);
          background-color: #1750ab;
          display: none;

          @include media-query($medium-down) {
            @include relative;
            background-color: transparent;
          }

          a.nav-three-text {
            @include nav-text($color-theme, 90px);
          }
        }
      }
    }
  }
}
