.section-news-message {
  padding: 70px 0;
}

.section-research {
  padding: 70px 0;
  background: url(../images/bg-sea.png) no-repeat top center / cover;
}

.section-features {
  padding: 70px 0;
  background: url(../images/bg-feature.png) no-repeat top center / cover;
}

.section-impression {
  padding: 70px 0;
}

.section-recruitment {
  padding: 70px 0;
  background: url(../images/bg-recruitment.png) no-repeat top center / cover;
}
