.container {
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding: 50px 0;
}

div.plate-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.plate-top div.plate-title {
  flex-grow: 1;
  position: relative;
  padding: 15px 0;
  font-size: 26px;
  color: #111111;
  background-repeat: no-repeat;
  background-position: left top;
}

div.plate-top div.plate-title.bg0 {
  background-image: url(../images/title_bg0.png);
}

div.plate-top div.plate-title.bg1 {
  background-image: url(../images/title_bg1.png);
}

div.plate-top div.plate-title.bg2 {
  background-image: url(../images/title_bg2.png);
}

div.plate-top div.plate-title.bg3 {
  background-image: url(../images/title_bg3.png);
}

div.plate-top div.plate-title.bg4 {
  background-image: url(../images/title_bg4.png);
}

div.plate-top div.plate-title span.iconfont {
  font-size: 26px;
  color: #003D87;
}

div.plate-top div.plate-title strong {
  font-weight: 900;
  color: #003D87;
}

div.plate-top a.more-link {
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 16px;
  color: #003D87;
  transition: .3s ease-in-out;
}

div.plate-top a.more-link:hover {
  background-color: #003D87;
  color: #ffffff;
}
