footer.footer {
  background-image: url(../images/footer_bg.png);
  background-position: center center;
  background-size: cover;

  div.footer-top.container {
    @include flex-row-sb;
    column-gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    @include media-query($medium-down) {
      display: block;
    }

    a.fotter-logo {
      @include flex-row-center;
      flex: 2;
      column-gap: 10px;

      @include media-query($large) {
        img {
          &:nth-child(1) {
            width: 45px;
          }
          &:nth-child(2) {
            width: 173px;
          }
        }
      }

      @include media-query($medium-down) {
        img {
          &:nth-child(1) {
            width: 45px;
          }
          &:nth-child(2) {
            width: 173px;
          }
        }
      }
    }

    ul.footer-selector {
      flex: 2;
      padding-left: 30px;
      border-left: 1px solid rgba($color: $color-white, $alpha: 0.2);
      @include media-query($medium-down) {
        padding-top: 20px;
        padding-left: 0;
        border: none;
        @include flex-col-center;
      }

      li.item {
        &:nth-child(1) {
          padding-bottom: 20px;
        }
      }
    }

    div.footer-info {
      display: flex;
      flex-wrap: wrap;
      column-gap: 15px;
      flex: 2;

      @include media-query($medium-down) {
        padding-top: 30px;
        display: block;
      }

      p.text {
        font-size: $font-size-b;
        color: $color-white;
        padding-bottom: 10px;

        @include media-query($medium-down) {
          text-align: center;
        }
      }
    }

    div.qr-code {
      @include flex-row-center;
      column-gap: 10px;
      flex: 1;
      @include media-query($medium-down) {
        @include flex-col-center;
        padding-top: 20px;
      }

      p.text {
        writing-mode: vertical-lr;
        font-size: $font-size-b;
        color: $color-white;
        @include media-query($medium-down) {
          writing-mode: inherit;
          padding-bottom: 10px;
        }
      }

      img {
        display: block;
        width: 70px;
        height: 70px;
        @include media-query($medium-down) {
          width: 120px;
          height: 120px;
        }
      }
    }
  }

  div.footer-bottom {
    padding: 14px;
    background-color: rgba($color: #000000, $alpha: 0.2);

    p.copyright {
      text-align: center;
      font-size: $font-size-b;
      color: $color-white;
      @include media-query($medium-down) {
        font-size: $font-size-s;
      }
    }
  }
}
