// fixed定位
@mixin pos-fixed($top:0, $right:0, $bottom:0, $left: 0, $zIndex:0) {
  position: fixed;
  top     : $top;
  right   : $right;
  bottom  : $bottom;
  left    : $left;
  z-index : $zIndex;
}

// absolute定位
@mixin pos-absolute($top:0, $right:0, $bottom:0, $left: 0, $zIndex:0) {
  position: absolute;
  top     : $top;
  right   : $right;
  bottom  : $bottom;
  left    : $left;
  z-index : $zIndex;
}

// flex
@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-row-center() {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

@mixin flex-row-sb() {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

@mixin flex-row-sa() {
  display        : flex;
  justify-content: space-around;
  align-items    : center;
}

@mixin flex-col-center() {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

@mixin flex-col-sb() {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
}

@mixin flex-col-sa() {
  display        : flex;
  flex-direction : column;
  justify-content: space-around;
  align-items    : center;
}

// shadow
@mixin card-shadow($color:#000000) {
  box-shadow:
    0 2px 1px -1px rgba($color: $color, $alpha: 0.2),
    0 1px 1px rgba($color: $color, $alpha: 0.14),
    0 1px 3px rgba($color: $color, $alpha: 0.12),
}

@mixin card-shadow-lg($color:#000000) {
  box-shadow:
    0 3px 3px -2px rgba($color: $color, $alpha: 0.2),
    0 3px 4px rgba($color: $color, $alpha: 0.14),
    0 1px 8px rgba($color: $color, $alpha: 0.12);
}

// 毛玻璃
@mixin glass($color:#000000, $alpha: 0.6) {
  background-color: rgba($color: $color, $alpha: $alpha);
  backdrop-filter : blur(10px);
}

// 超出省略
@mixin omit() {
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
}

// 超出隐藏
@mixin omits($num: 1) {
  text-overflow     : -o-ellipsis-lastline;
  overflow          : hidden;
  text-overflow     : ellipsis;
  display           : -webkit-box;
  -webkit-line-clamp: $num;
  line-clamp        : $num;
  -webkit-box-orient: vertical;
}

// 滚动条
@mixin scroll-bar($size: 7px) {

  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  &::-webkit-scrollbar {
    width           : $size;
    height          : $size;
    background-color: #F5F5F5;
  }

  /*定义滚动条轨道 内阴影+圆角*/
  &::-webkit-scrollbar-track {
    border-radius   : 10px;
    background-color: #e7e7e7;
  }

  /*定义滑块 内阴影+圆角*/
  &::-webkit-scrollbar-thumb {
    border-radius   : 10px;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
}

// 媒体查询
@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $grid-breakpoints {
    $name       : nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query==$name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found==false {
    @warn 'Breakpoint "#{$media-query}" does not exist';
  }
}