header section.top-bar {
  background-color: #003D87;
}

header section.main-nav {
  background-color: #EEC88E;
}

section.fast-nav {
  background-color: #F0EFED;
}

section.message-notice {
  background-image: url(../images/message_bg.png);
  background-position: center center;
  background-size: cover;
}

section.research-condition {
  background-color: #F0EFED;
}

section.research-condition div.container ul.condition-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

section.research-condition div.container ul.condition-list li.item {
  width: calc(50% - 25px);
}

section.research-condition div.container ul.condition-list li.item:nth-child(1) div.condition-card {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
}

section.research-condition div.container ul.condition-list li.item:nth-child(2) div.condition-card {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
}

section.research-condition div.container ul.condition-list li.item div.condition-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  position: relative;
}

section.research-condition div.container ul.condition-list li.item div.condition-card:hover div.cover img {
  transform: scale(1.1);
}

section.research-condition div.container ul.condition-list li.item div.condition-card:hover div.info p.title {
  color: #003D87;
}

section.research-condition div.container ul.condition-list li.item div.condition-card:hover div.info p.author {
  color: #003D87;
}

section.research-condition div.container ul.condition-list li.item div.condition-card:hover div.info p.summary {
  color: #003D87;
}

section.research-condition div.container ul.condition-list li.item div.condition-card div.cover {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  overflow: hidden;
  flex: none;
}

section.research-condition div.container ul.condition-list li.item div.condition-card div.cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-in-out;
}

section.research-condition div.container ul.condition-list li.item div.condition-card div.info {
  box-sizing: border-box;
  padding-left: 35px;
  overflow: hidden;
}

section.research-condition div.container ul.condition-list li.item div.condition-card div.info p.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 20px;
  font-size: 16px;
  color: #111111;
  font-weight: 900;
  transition: .3s ease-in-out;
}

section.research-condition div.container ul.condition-list li.item div.condition-card div.info p.author {
  padding-bottom: 20px;
  font-size: 14px;
  color: #666666;
  transition: .3s ease-in-out;
}

section.research-condition div.container ul.condition-list li.item div.condition-card div.info p.summary {
  font-size: 14px;
  color: #666666;
  line-height: 1.6;
  transition: .3s ease-in-out;
}

section.research-condition div.container ul.condition-list li.item div.condition-card a.link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
}

section.theme-program div.container ul.theme-list {
  display: flex;
  flex-wrap: wrap;
}

section.theme-program div.container ul.theme-list li.item {
  width: 25%;
}

section.theme-program div.container ul.theme-list li.item div.theme-card {
  width: 100%;
  height: 0;
  padding-bottom: 57%;
  position: relative;
  overflow: hidden;
}

section.theme-program div.container ul.theme-list li.item div.theme-card:hover div.cover img {
  transform: scale(1.1);
}

section.theme-program div.container ul.theme-list li.item div.theme-card:hover div.info {
  opacity: 1;
}

section.theme-program div.container ul.theme-list li.item div.theme-card:hover div.info p.title {
  transform: translate3d(0, 0, 0);
}

section.theme-program div.container ul.theme-list li.item div.theme-card div.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

section.theme-program div.container ul.theme-list li.item div.theme-card div.cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-in-out;
}

section.theme-program div.container ul.theme-list li.item div.theme-card div.info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: .3s ease-in-out;
  opacity: 0;
}

section.theme-program div.container ul.theme-list li.item div.theme-card div.info p.title {
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
  transition: .3s ease-in-out;
  transform: translate3d(0, -20px, 0);
}

section.theme-program div.container ul.theme-list li.item div.theme-card a.link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

footer.footer {
  background-image: url(../images/footer_bg.png);
  background-position: center center;
  background-size: cover;
}

footer.footer div.footer-top.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer.footer div.footer-top.container a.fotter-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  column-gap: 10px;
}

footer.footer div.footer-top.container ul.footer-selector {
  flex: 2;
}

footer.footer div.footer-top.container div.footer-info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  flex: 2;
}

footer.footer div.footer-top.container div.footer-info p.text {
  font-size: 14px;
  color: #ffffff;
  padding-bottom: 10px;
}

footer.footer div.footer-top.container div.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  flex: 1;
}

footer.footer div.footer-top.container div.qr-code p.text {
  writing-mode: vertical-lr;
  font-size: 14px;
  color: #ffffff;
}

footer.footer div.footer-top.container div.qr-code img {
  display: block;
  width: 70px;
  height: 70px;
}

footer.footer div.footer-bottom {
  padding: 14px;
  background-color: rgba(0, 0, 0, 0.2);
}

footer.footer div.footer-bottom p.copyright {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
