// 色彩
$color-theme: #003D87;
$color-theme-light: #2A6BBC;
$color-theme-deep: #1A5093;
$color-sub-theme: #EEC88E;
$color-title: #111111;
$color-content: #666666;

$color-red: #D50000;
$color-gray: #F0EFED;
$color-gray-deep: #F3F3F3;
$color-white: #ffffff;
$color-black: #000000;

// 尺寸
$font-size-s: 12px;
$font-size-b: 14px;
$font-size-m: 16px;
$font-size-l: 18px;

// 媒体查询相关
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1200px;
$grid-sm-content: 540px;
$grid-md-content: 720px;
$grid-lg-content: 960px;
$grid-xl-content: 1140px;
$grid-gutter: 30px;
$grid-gutter-mobile: 22px;

$sm: 'sm';
$md: 'md';
$lg: 'lg';
$xl: 'xl';

$grid-breakpoints: (
  $sm '(max-width: #{$grid-md - 1})',
  $md '(min-width: #{$grid-md}) and (max-width: #{$grid-lg - 1})',
  $lg '(min-width: #{$grid-lg}) and (max-width: #{$grid-xl - 1})',
  $xl '(min-width: #{$grid-xl})'
);
